<div>
    <div class="input-group date" data-dojo-attach-point="datePickerNode" disabled>
        <div class="datepckr-icon input-group-addon">
            <button class="fa fa-calendar"></button>
        </div>
    	<input type="text" class="form-control" data-dojo-attach-point="dateNode">
    </div>
    <input type="hidden" data-dojo-attach-point="inputNode">
</div>
