<div>
    <div class="input-daterange" data-dojo-attach-point="datePickerNode">
        <div class="daterange-column">
            <input type="text" class="form-control" data-dojo-attach-point="fromDateNode" name="from">
        </div><div class="range-column">-</div><div class="daterange-column">
            <input type="text" class="form-control" data-dojo-attach-point="toDateNode" name="to">
        </div>
    </div>
    <input type="hidden" data-dojo-attach-point="inputNode">
</div>
