<div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center h3"><span data-dojo-attach-point="iconNode"></span>
                </div>
                <div class="text-center h3">
                    <h3 data-dojo-attach-point="titleNode"></h3>
                </div>
                <div class="text-center">
                    <p data-dojo-attach-point="descriptionNode"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-dojo-attach-point="closeNode">Close</button>
            </div>
        </div>
    </div>
</div>
