<div>
    <div breadcrumbs></div>
    <div class=" wrapper wrapper-content">
        <h3 class="title">Digital Branch Icomoon</h3>
        <div class=" ibox">
            <div class=" ibox-title">
                Sample Icomoon
                <p style="float:right;">Total : <span data-dojo-attach-point="totalNode"></span></p>
            </div>
            <div class="ibox-content">
                <ul class="list-inline" data-dojo-attach-point="icomoonCellNode"></ul>
            </div>
        </div>
    </div>
</div>
