<div>
	<div data-dojo-attach-point="breadcrumbsContainerNode"></div>
    <div class="ibox-content">
        <h1>Hello One More Time</h1>
        <p>Another page (I promise you this is the last one)</p>
        <button type="button" class="btn btn-default" data-dojo-attach-point="backNode">Back</button>
    </div>
</div>
