<div>
    <div breadcrumbs></div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sample Page 2</h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <p>This is second page.</p>
                            <button type="button" class="btn btn-primary pull-right" data-dojo-attach-point="previousNode">Previous Page</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
