<li class="dropdown-cell-effect" data-dojo-attach-point="listNode">
    <a data-dojo-attach-point="cellRefNode" ><span class="no-transition" data-dojo-attach-point="iconNode"></span>
    <span class="no-transition" data-dojo-attach-point="labelNode"></span></a>
</li>
