<div class="dropdown" data-dojo-attach-point="dropdownNode">
    <button id="dLabel" type="button" class="dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-dojo-attach-point="dropdownBtnNode">
        <span data-dojo-attach-point="dropdownLabelNode"></span>
        <span class="fa fa-caret-down dropdown-arrow" data-dojo-attach-point="dropdownIconNode"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-dojo-attach-point="dropdownMenuNode">
        <li data-dojo-attach-point="searchInputBoxNode">
            <div class="dropdown-search form-group has-feedback left">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                <input type="text" class="form-control" data-dojo-attach-point="searchInputNode" id="testing">
            </div>
        </li>
        <div class="dropdown-cell" data-dojo-attach-point="dropdownCellNode">
        </div>
    </ul>
    <input type="hidden" data-dojo-attach-point="inputNode" />
</div>
