<div class="row border-bottom">
    <nav id="welcomeBar" data-dojo-attach-point="welcomeBarNode" class="navbar navbar-static-top white-bg welcome-bar m-b-none" role="navigation">
        <div class="navbar-header">
            <a id="menuBtn" class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i class="fa fa-bars"></i> </a>
            <img class="navbar-logo pull-left hidden-xs" src="assets/img/infopro-logo.png" />
        </div>
    </nav>
</div>
