<div id="modal-form" class="modal modal-header pl15" data-dojo-attach-point="modalNode">
    <div class="modal-dialog animated bounceInDown" data-dojo-attach-point="modalDialogNode">
        <div class="modal-content row">
            <div class="modal-header">
                <div class="modal-close-btn" data-dojo-attach-point="closeLinkNode">
                    <span aria-hidden="true">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
                <h4 class="modal-title" data-dojo-attach-point="titleNode"></h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-8 m-b pl0">
                    <div data-dojo-attach-point="searchNode"></div>
                </div>
                <div>
                    <div data-dojo-attach-point="resultNode"></div>
                </div>
            </div>
        </div>
    </div>
</div>
