<div>
    <div class-="row" amt-validation>
        <div class="col-xs-12 pr0 pl0 amount-texfield">
            <div class="currency" data-dojo-attach-point="amtTextfieldFccdNode"></div>
            <input class="form-control amount remove-spinner" type="text" data-v-min="-9999999999999" data-v-max="9999999999999" data-dojo-attach-point="amtTextfieldNode">
            <input class="form-control decimal remove-spinner" type="tel" pattern="[0-9]" data-dojo-attach-point="amtTextfieldDecimalNode">
        </div>
        <input type="hidden" data-dojo-attach-point="inputNode">
    </div>
    <div class="row" data-dojo-attach-point="sliderWrapperNode">
        <div class="col-xs-1 slider-label pr5 m-t-n" data-dojo-attach-point="minSliderLabelNode"></div>
        <div class="col-xs-10 pl5 pr0 m-t-n">
            <div data-dojo-attach-point="sliderAmountContainerNode"></div>
        </div>
        <div class="col-xs-1 slider-label pl5 m-t-n" data-dojo-attach-point="maxSliderLabelNode"></div>
    </div>
</div>
