<div class="onoffswitch">
    <input type="checkbox" class="onoffswitch-checkbox" data-dojo-attach-point="swicherCustomNode">
    <label class="onoffswitch-label" data-dojo-attach-point="swicherCustomLabelNode">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
