<div class="panel panel-default tree-menu">
    <div class="panel-heading" role="tab" data-dojo-attach-point="headingNode">
        <h4 class="panel-title" data-dojo-attach-point="titleIndentNode">
            <i class="fa fa-caret-right" data-dojo-attach-point="iconNode"></i>
            <a role="button" data-toggle="collapse" aria-expanded="true" data-dojo-attach-point="titleNode">
                Collapsible Group Item #1
            </a>
            <p class="pull-right tree-menu-description" data-dojo-attach-point="descriptionNode"></p>
        </h4>
    </div>
    <div class="panel-collapse collapse" role="tabpanel" aria-expanded="true" data-dojo-attach-point="collapseNode">
        <div class="panel-body" data-dojo-attach-point="bodyNode">
        </div>
    </div>
</div>
