<div class="nestedtree-alternative-child nestedtree-border-bottom" data-dojo-attach-point="nestedTreeCellNode">
    <i class="ico-relationship nestedtree-icon-padding-top" data-dojo-attach-point="iconNode"></i>
    <div class="nestedtree-productdesc" data-dojo-attach-point="productCodeDescNode">
        <div class="row font-bold">
            <div class="col-xs-6">
                <div class="nestedtree-product-label" data-dojo-attach-point="productCodeNode"></div>
            </div>
            <div class="col-xs-6 pr0">
                <div class="text-right" data-dojo-attach-point="productDecsNode"></div>
            </div>
        </div>
    </div>
</div>
