<div class="ibox float-e-margins" data-dojo-attach-point="removeBottomMarginNode">
    <div class="ibox-title" data-dojo-attach-point="regularLineNode">
        <h5 data-dojo-attach-point="chargesTaxLabelNode"></h5>
    </div> 
    <div class="ibox-content" data-dojo-attach-point="removeIboxContentBottomPaddingNode">
        <div data-dojo-attach-point="chargesTaxTableNode">
        </div>
    </div>
</div>
