<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Extra Page <span data-dojo-attach-point="titleNumber1Node"></span></h3>
                </div>
                <div class="panel-body">
                    <div>
                        <p>Extra Page <span data-dojo-attach-point="titleNumber2Node"></span>.</p>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default hide" data-dojo-attach-point="previousNode">Previous Page</button>
                            <button type="button" class="btn btn-primary" data-dojo-attach-point="nextNode">Next Page</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
