<div class="no-result">
    <img alt="No Result" class="no-result-icon" src="assets\img\noresult.png">
    <h3 class="no-result-title" data-dojo-attach-point="noresultTitleNode"></h3>
    <p data-dojo-attach-point="noresultLabelNode"></p>
</div>
