<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Page 3</h3>
            </div>
            <div class="panel-body">
                <h1>Page 3</h1>
            </div>
        </div>
    </div>
</div>
