<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sample Page 1</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <div>
                            <div class="container-fluid">
                                <button type="button" class="btn btn-primary" data-dojo-attach-point="page1Node">Page 1</button>
                                <button type="button" class="btn btn-primary" data-dojo-attach-point="page2Node">Page 2</button>
                                <button type="button" class="btn btn-primary" data-dojo-attach-point="page3Node">Page 3</button>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <hr></hr>
                        </div>
                        <div class="container-fluid" data-dojo-attach-point="containerNode"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
