<div class="timeline-item">
    <div class="row">
        <div class="col-xs-3 date">
            <i class="fa fa-file-text"></i>
            <div data-dojo-attach-point="timeNode"></div>
            <small class="text-navy" data-dojo-attach-point="dateNode"></small>
        </div>
        <div class="col-xs-7 content">
            <p class="m-b-xs"><strong data-dojo-attach-point="titleNode"></strong></p>
            <p data-dojo-attach-point="labelNode"></p>
        </div>
    </div>
</div>
