<div class="vertical-timeline-block">
    <div class="vertical-timeline-icon navy-bg" data-dojo-attach-point="iconDivNode">
        <i class="fa fa-briefcase" data-dojo-attach-point="iconNode"></i>
    </div>
    <div class="vertical-timeline-content" data-dojo-attach-point="contentNode">
        <div data-dojo-attach-point="titleDivNode">
            <h2 data-dojo-attach-point="titleNode"></h2>
        </div>
        <div class="descr-div">
            <p data-dojo-attach-point="descrNode">
            </p>
            <div class="pb10" data-dojo-attach-point="extraNode"></div>
            <div data-dojo-attach-point="btnDivNode">
                <a class="btn btn-sm btn-primary" data-dojo-attach-point="btnNode"></a>
            </div>
            <span class="vertical-date">
                <div class="col-xs-6 col-lg-12" data-dojo-attach-point="dateNode"></div>
                <div class="col-xs-6 col-lg-12" ><small data-dojo-attach-point="timeNode"></small></div>
            </span>
        </div>
    </div>
</div>  
