<div class="vertical-timeline-block">
    <div class="vertical-timeline-icon navy-bg">
        <i class="fa fa-file-text"></i>
    </div>
    <div class="vertical-timeline-content">
        <h2 data-dojo-attach-point="titleNode"></h2>
        <p data-dojo-attach-point="labelNode">
        </p>
        <span class="vertical-date">            
        <div data-dojo-attach-point="timeNode"></div>
        <small data-dojo-attach-point="dateNode"></small>
        </span>
    </div>
</div>
