<div class="row">
    <div class="col-sm-12">
        <div data-dojo-attach-point="dropzoneNode" class="dropzone" action="#">
            <div class="dropzone-previews"></div>
            <div class="button-wrapper pull-right">
                <button type="submit" class="btn btn-primary" data-dojo-attach-point="submitBtnNode" disabled></button>
                <button type="button" class="btn btn-default" data-dojo-attach-point="clearBtnNode"></button>
            </div>
            <div class="note">
                <span data-dojo-attach-point="noteNode"></span>
            </div>
        </div>
        <div class="fallback alt-file-upload hidden row" data-dojo-attach-point="altfileNode">
            <div class="col-xs-12 input-group" data-dojo-attach-point="fileNode">
                <input class="form-control upload-text" type="text" data-dojo-attach-point="fileNameNode">
                <label class="input-group-addon custom-file-upload" data-dojo-attach-point="fileBtnNode"></label>
                <input class="hidden" type="file" data-dojo-attach-point="fileTypeNode" />
            </div>
            <div class="note">
                <span data-dojo-attach-point="noteNode2"></span>
            </div>
        </div>
    </div>
</div>
