<ul class="dropdown-menu dropdown-messages m-t-n-sm" data-dojo-attach-point="notificationNode">
    <!-- <div class="notification-scrollbar locale-scrollbar">
        <span data-dojo-attach-point="localizationNode"></span>
    </div> -->
</ul>
