<div class="col-xs-12 p0" >
    <div class="alert alert-success fade in" data-dojo-attach-point="alertSuccessBarNode">
        <strong data-dojo-attach-point="alertSuccessBarLabelNode"></strong>
    </div>
    <div class="alert alert-info fade in" data-dojo-attach-point="alertInfoBarNode">
        <strong data-dojo-attach-point="alertInfoBarLabelNode"></strong>
    </div>
    <div class="alert alert-warning fade in" data-dojo-attach-point="alertWarningBarNode">
        <strong data-dojo-attach-point="alertWarningBarLabelNode"></strong>
    </div>
    <div class="alert alert-danger fade in" data-dojo-attach-point="alertDangerBarNode">
        <strong data-dojo-attach-point="alertDangerBarLabelNode"></strong>
    </div>
</div>
