<li data-dojo-attach-point="quickNavigationMenuItemNode">
    <span data-dojo-attach-point="quickNavigationMenuItemIconNode"></span>
    <label data-dojo-attach-point="quickNavigationMenuItemLabelNode"></label>
</li>
