<div id="modal-form" class="modal fade success-fail" aria-hidden="true">
    <div class="modal-dialog modal-md" data-dojo-attach-point="modalDialogNode">
        <div>
            <div class="modal-header ignore-border">
                <div class="modal-close-btn cross-sign" data-dojo-attach-point="closeLinkNode">
                    <span aria-hidden="true">
                        <i class="ico-close"></i>
                    </span>
                </div>
                <div data-dojo-attach-point="headerNode">
                    <img data-dojo-attach-point="iconNode">
                </div>
                <div class="widget-text-box text-center icon-label" data-dojo-attach-point="contentNode">
                    <h1 data-dojo-attach-point="titleNode"></h1>
                    <h4 class="media-heading" data-dojo-attach-point="descriptionNode"></h4>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="m0">Salutation</div>
                            <div data-dojo-attach-point="salutationNode"></div>
                            <div class="m0">No I.C.</div>
                            <div data-dojo-attach-point="NRICNode"></div>
                            <div class="m0">Date Of Birth</div>
                            <div data-dojo-attach-point="datepickerDOBNode"></div>
                            <div class="m0">Mobile No</div>
                            <div data-dojo-attach-point="mobileNoNode"></div>
                            <!-- </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> -->
                            <div class="m0">Name</div>
                            <div data-dojo-attach-point="nameNode"></div>
                            <div class="m0">Gender</div>
                            <div data-dojo-attach-point="genderNode"></div>

                            <div class="m0">Age</div>
                            <div data-dojo-attach-point="ageNode"></div>
                        </div>
                    </div>
                    <div data-dojo-attach-point="extraNode"></div>
                    <div class="text-center button" data-dojo-attach-point="buttonNode"></div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>