<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p0 steps">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 step-number" data-dojo-attach-point="stepLabelNode"></div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 step-desc" data-dojo-attach-point="descLabelNode"></div>
    <ul class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hidden-xs" data-dojo-attach-point="stepsNode"></ul>
</div>