<div id="modal-form" class="modal fade quickcif-results" aria-hidden="true">
    <div class="modal-dialog animated bounceInDown" data-dojo-attach-point="modalDialogNode">
        <div class="modal-content">
            <div class="modal-header" style="border:none;">
                <div class="modal-close-btn" data-dojo-attach-point="closeLinkNode" style="padding: 5px;">
                    <span aria-hidden="true">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
                <div class="col-sm-12">
                    <div style="text-align:left;">
                        <h2 data-dojo-attach-point="inboxLabelNode" style="margin-top:0px;"></h2></div>
                    <div style="text-align:right;">
                        <div data-dojo-attach-point="searchInputIconNode"></div>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="padding-top: 0px;" data-dojo-attach-point="modalBodyNode">
                <div class="text-left">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="padding-bottom: 5px;">
                                    <span data-dojo-attach-point="subjectLabelNode" style="font-weight: normal;display: inline-block;"></span>
                                </td>
                                <td style="padding-bottom: 5px;">:</td>
                                <td style="padding-bottom: 5px;">
                                    <span data-dojo-attach-point="subjectNode" style="display: inline-block;margin-bottom: 0px;"></span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <span data-dojo-attach-point="senderLabelNode"></span>
                                </td>
                                <td style="padding-right: 5px;">:</td>
                                <td>
                                    <span data-dojo-attach-point="senderNode"></span></td>
                                <td class="text-right">
                                    <span data-dojo-attach-point="dateNode"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr style="margin-left:-30px;margin-right:-30px;" />
                    <br/>
                    <div class="summernote">
                        <p data-dojo-attach-point="messageContentNode"></p>
                        <hr/>
                        <p class="text-center"> - End Of Messages -</p>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
