<div data-dojo-attach-point="quickNavigationMenuContainerNode">
    <div data-dojo-attach-point="quickNavigationMenuWrapperNode" class="hide">
        <ul data-dojo-attach-point="quickNavigationMenuListNode">
        </ul>
    </div>
    <div data-dojo-attach-point="quickNavigationMenuNode" class="quicknavigationmenu-btn">
        <a>
            <i data-dojo-attach-point="quickNavigationMenuIconNode"></i>
        </a>
    </div>
</div>
