<div>
    <div data-dojo-attach-point="breadcrumbsContainerNode"></div>
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Dynamic Panel</h5>
                    </div>
                    <div class="ibox-content">
                        <div data-dojo-attach-point="dynamicPanelNode"></div>
                        <hr />
                        <div class="text-right">
                            <button type="button" class="btn btn-default rippler rippler-inverse" data-dojo-attach-point="resetNode">Reset</button>
                            <button type="button" class="btn btn-primary rippler rippler-default" data-dojo-attach-point="submitNode">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Dynamic Panel</h5>
                    </div>
                    <div class="ibox-content">
                        <div data-dojo-attach-point="dynamicPanel2Node"></div>
                        <hr />
                        <div class="text-right">
                            <button type="button" class="btn btn-default rippler rippler-inverse" data-dojo-attach-point="reset2Node">Reset</button>
                            <button type="button" class="btn btn-primary rippler rippler-default" data-dojo-attach-point="submit2Node">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
