<div class="input-group" data-dojo-attach-point="searchInputContainerNode">
    <input type="text" class="form-control" data-dojo-attach-point="inputNode">
    <span class="input-group-btn">
        <button type="button" class="btn btn-primary" data-dojo-attach-point="searchNode"><span class="fa fa-search" data-dojo-attach-point="searchIconNode"></span><span data-dojo-attach-point="searchTextNode"></span></button>
    </span>
</div>
