<div class=" wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="m-t-none">Form Elements</h1>
            <div class="ibox">
                <div data-dojo-attach-point="inputTextContainerNode" class=" ibox-title">
                    Change Theme
                </div>
                <div class="ibox-content clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <button type="button" data-dojo-attach-point="defaultBtnNode" style="background-color:#1ab394" class="btn btn-primary m-b-xs">Default</button>
                        <button type="button" data-dojo-attach-point="marineBtnNode" style="background-color:#6b85af" class="btn btn-primary m-b-xs">Marine</button>
                        <button type="button" data-dojo-attach-point="cocoaBtnNode" style="background-color:#64574e" class="btn btn-primary m-b-xs">Cocoa</button>
                        <button type="button" data-dojo-attach-point="aquaBtnNode" style="background-color:#1aa6b7" class="btn btn-primary m-b-xs">Aqua</button>
                        <button type="button" data-dojo-attach-point="violetBtnNode" style="background-color:#6861ab" class="btn btn-primary m-b-xs">Violet</button>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div data-dojo-attach-point="inputTextContainerNode" class=" ibox-title">
                    Input Text
                </div>
                <div class="ibox-content clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" placeholder="Please Enter Value" label="Input Text" data-validation="required" custom-input>
                        <input type="text" placeholder="Please Enter Value" label="Input Text (Disabled)" data-validation="required" custom-input disabled>
                        <input type="text" placeholder="Please Enter Value" data-validation="required" label="Input Text With Icon" with-icon="glyphicon glyphicon-search" custom-input>
                        <input type="text" placeholder="Please Enter Value" data-validation="required" label="Input Text With Icon" with-icon="glyphicon glyphicon-search" custom-input disabled>
                        <input type="text" label="CA Number Mask" data-dojo-attach-point="caNumberNode" custom-input>
                        <input type="number" label="Percentage Input" data-dojo-attach-point="percentageNode" custom-input>
                        <input type="number" label="Interest Rate Input" data-dojo-attach-point="interestRateNode" custom-input>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <input type="number" label="Decimal Input (1 Decimal Place)" data-dojo-attach-point="decimalNode" custom-input>
                        <div class="form-group">
                            <label>Search Input</label>
                            <div data-dojo-attach-point="searchInputNode"></div>
                        </div>
                        <div class="form-group">
                            <label>Search Input Modal (Modal API)</label>
                            <div data-dojo-attach-point="searchInputLOVNode"></div>
                        </div>
                        <div class="form-group">
                            <label>Search Input Modal (Caller API)</label>
                            <div data-dojo-attach-point="searchInputLOV2Node"></div>
                        </div>
                        <div class="form-group">
                            <label>Search Input (Disabled)</label>
                            <div data-dojo-attach-point="searchInputNodeDisable"></div>
                        </div>
                        <div class="form-group">
                            <label>Search Input Text Only</label>
                            <div data-dojo-attach-point="searchInputTextNode"></div>
                        </div>
                        <div class="form-group">
                            <label>Search Input Icon Only</label>
                            <div data-dojo-attach-point="searchInputIconNode"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div data-dojo-attach-point="buttonContainerNode" class=" ibox-title">
                    Button And Modal
                </div>
                <div class="ibox-content clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <label>Primary</label>
                        <div class="">
                            <button type="button" class="btn btn-primary m-b-xs">Next</button>
                            <button type="button" class="btn btn-primary m-b-xs" disabled>Next (Disabled)</button>
                            <button type="button" class="btn btn-primary with-icon m-b-xs">
                                <span class="fa fa-cloud-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-primary with-icon m-b-xs" disabled>
                                <span class="fa fa-cloud-upload"></span> Upload (Disabled)
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label>Secondary</label>
                        <div class="">
                            <button type="button" class="btn btn-default m-b-xs">Next</button>
                            <button type="button" class="btn btn-default m-b-xs" disabled>Next (Disabled)</button>
                            <button type="button" class="btn btn-default with-icon m-b-xs">
                                <span class="fa fa-cloud-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-default with-icon m-b-xs" disabled>
                                <span class="fa fa-cloud-upload"></span> Upload (Disabled)
                            </button>
                        </div>
                    </div>
                </div>
                <div class="ibox-content clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <label>Toggle Buttons</label>
                        <div data-dojo-attach-point="toggleButtonsNode"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label>Success Fail Modal</label>
                        <div class="text-center">
                            <div>
                                <button type="button" class="btn btn-default" data-dojo-attach-point="failBtnNode">Fail</button>
                                <button type="button" class="btn btn-primary" data-dojo-attach-point="warningBtnNode">Warning</button>
                                <button type="button" class="btn btn-primary" data-dojo-attach-point="successBtnNode">Success</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-dojo-attach-point="tabContainerNode">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1"> This is tab</a></li>
                        <li><a data-toggle="tab" href="#tab-2"> This is second tab</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title" style="border: transparent;">
                                    <h5>Tab 1</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="fullscreen-link">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt dapibus ullamcorper. In hac habitasse platea dictumst. Morbi eu sem sed arcu iaculis semper congue in tellus. Ut faucibus ullamcorper arcu vitae luctus. Mauris lacus nisi, aliquam ac euismod non, aliquam eget elit. Donec efficitur enim nec diam egestas, sodales auctor dolor lobortis. </p>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title" style="border: transparent;">
                                    <h5>Tab 2</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="fullscreen-link">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <p>Mauris lacus nisi, aliquam ac euismod non, aliquam eget elit. Donec efficitur enim nec diam egestas, sodales auctor dolor lobortis. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <h1>Advanced Form Elements</h1>
            <div class="ibox">
                <div data-dojo-attach-point="dropdownContainerNode" class=" ibox-title">
                    Dropdown
                </div>
                <div class="ibox-content clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Dropdown</label>
                            <div data-dojo-attach-point="dropdownNode"></div>
                        </div>
                        <div class="form-group">
                            <label>Dropdown (Disabled)</label>
                            <div data-dojo-attach-point="dropdownDisableNode"></div>
                        </div>
                        <div class="form-group">
                            <label>Dropdown Live Filter</label>
                            <div data-dojo-attach-point="dropdownLiveFilterNode"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Dependency 1 Dropdown</label>
                            <div data-dojo-attach-point="dropdown1Node"></div>
                        </div>
                        <div class="form-group">
                            <label>Dependency 2 Dropdown</label>
                            <div data-dojo-attach-point="dropdown2Node"></div>
                        </div>
                        <div class="form-group">
                            <label>Dependency 3 Dropdown</label>
                            <div data-dojo-attach-point="dropdown3Node"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div data-dojo-attach-point="datepickerContainerNode" class=" ibox-title">
                    Datepicker2
                </div>
                <div class="ibox-content clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group has-feedback-left">
                            <label>Datepicker</label>
                            <div data-dojo-attach-point="datepickerNode"></div>
                        </div>
                        <div class="form-group has-feedback-left">
                            <label>Datepicker (Disabled)</label>
                            <div data-dojo-attach-point="datepickerDisabledNode"></div>
                        </div>
                        <div class="form-group has-feedback-left">
                            <label>Date Range Form</label>
                            <div data-dojo-attach-point="datepickerRangeNode"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group has-feedback-left">
                            <label>Date Range Form (Column)</label>
                            <div data-dojo-attach-point="datepickerRangeColumnNode"></div>
                        </div>
                        <div class="form-group has-feedback-left">
                            <label>Date Range Form (Column - Side)</label>
                            <div data-dojo-attach-point="datepickerRangeColumnSideNode"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div data-dojo-attach-point="amountTextFieldContainerNode" class=" ibox-title">
                    Amount Textfield
                </div>
                <div class="ibox-content clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Amount Textfield</label>
                            <div data-dojo-attach-point="amountTextfieldNode"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Amount Textfield (Disabled)</label>
                            <div data-dojo-attach-point="amountTextfieldDisabledNode"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div data-dojo-attach-point="switcherContainerNode" class="ibox-title">
                    Switchers
                </div>
                <div class="ibox-content clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Disable Custom Switcher</label>
                            <div data-dojo-attach-point="swicherCustomNode"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Custom Switcher</label>
                            <div class="onoffswitch" data-dojo-attach-point="swicherCustom2Node"></div>
                            <div class="onoffswitch" data-dojo-attach-point="swicherCustom3Node"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div data-dojo-attach-point="slidersContainerNode" class=" ibox-title">
                    Sliders
                </div>
                <div class="ibox-content clearfix">
                    <h5>Slider without Range</h5>
                    <div data-dojo-attach-point="sliderContainerNode"></div>
                    <h5>Slider with Range</h5>
                    <div data-dojo-attach-point="sliderRangeContainerNode"></div>
                </div>
            </div>
            <div class="ibox">
                <div data-dojo-attach-point="chartsContainerNode" class=" ibox-title">
                    Charts
                </div>
                <div class="ibox-content clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h5>Line Chart</h5>
                        <div data-dojo-attach-point="lineChartNode"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h5>Pie Chart</h5>
                        <div data-dojo-attach-point="pieChartNode"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h5>Donut Chart</h5>
                        <div data-dojo-attach-point="donutChartNode"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h5>Gauge Chart</h5>
                        <div data-dojo-attach-point="gaugeChartNode"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h5>Bar Chart</h5>
                        <div data-dojo-attach-point="barChartNode"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h5>Stack Chart</h5>
                        <div data-dojo-attach-point="stackChartNode"></div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div data-dojo-attach-point="alertBarsContainerNode" class=" ibox-title">
                    Alert Bar
                </div>
                <div class="ibox-content clearfix">
                    <div data-dojo-attach-point="successAlertBarNode"></div>
                    <div data-dojo-attach-point="infoAlertBarNode"></div>
                    <div data-dojo-attach-point="warningAlertBarNode"></div>
                    <div data-dojo-attach-point="dangerAlertBarNode"></div>
                    <div data-dojo-attach-point="topAlertBarNode"></div>
                </div>
            </div>
            <div class="ibox">
                <div data-dojo-attach-point="fileUploadContainerNode" class=" ibox-title">
                    File Upload
                </div>
                <div class="ibox-content clearfix">
                    <div data-dojo-attach-point="fileUploadNode"></div>
                </div>
            </div>
            <h1>Pages</h1>
            <div class="ibox">
                <div data-dojo-attach-point="noResultContainerNode" class="ibox-title">
                    No Result
                </div>
                <div class="ibox-content clearfix">
                    <div data-dojo-attach-point="noresultPageNode"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div data-dojo-attach-point="successFailContainerNode" class="ibox clearfix">
                        <div data-dojo-attach-point="successPageNode"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="ibox clearfix">
                        <div data-dojo-attach-point="failPageNode"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="ibox">
                        <div data-dojo-attach-point="timeFrameContainerNode" class=" ibox-title">
                            Time Frames V1
                        </div>
                        <div class="ibox-content">
                            <div data-dojo-attach-point="timeFrameContainerNode"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="ibox">
                        <div class=" ibox-title">
                            Time Frames V2
                        </div>
                        <div class="ibox-content">
                            <div data-dojo-attach-point="timeFrameV2ContainerNode"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <h2 data-dojo-attach-point="tablesContainerNode">Tables</h2>
                <div class="row ibox">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" data-dojo-attach-point="myInputTextFieldNode" placeholder="Find">
                                </div>
                            </div>
                        </div>
                        <h3 class="title">Customized Table</h3>
                        <div class=" ibox-title">
                            <div class="card-content clearfix">
                                <div data-dojo-attach-point="customTable">
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary" data-dojo-attach-point="customTableAddBtnNode">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox">
                <div data-dojo-attach-point="inputTextContainerNode" class=" ibox-title">
                    Dropdown Steps
                </div>
                <div class="ibox-content clearfix">
                    <div data-dojo-attach-point="dropdownStepNode">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox">
                <div data-dojo-attach-point="inputTextContainerNode" class=" ibox-title">
                    Nested Tree Lists
                </div>
                <div class="ibox-content clearfix">
                    <div data-dojo-attach-point="treeListNode"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-dojo-attach-point="quickNavigationMenuContainerNode">
    </div>
</div>
