<li class="multitask-item">
    <div class="clearfix">
        <a class="p-xs m-n pull-right text-right" data-dojo-attach-point="multitaskTabNode"></a>
        <a class="ico-multitab-close p-xxs pull-left text-navy" data-dojo-attach-point="multitaskItemCloseIconNode"></a>
    </div>
    <div>
        <hr>
    </div>
</li>
