<div class="row">
    <div class="col-xs-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title" data-dojo-attach-point="stepsTitleNode">
            </div>
            <div class="ibox-content clearfix">
                <div class="form-group pl10" data-dojo-attach-point="checkboxAllBoxNode">
                    <input type="checkbox" data-dojo-attach-point="checkboxAllNode"></input>
                    <span data-dojo-attach-point="checkboxAllLabelNode"></span>
                    <hr/>
                </div>
                <ul class="side-steps p0" data-dojo-attach-point="sideMenuNode"></ul>
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <div data-dojo-attach-point="formContainerNode"></div>
    </div>
</div>
