<li class="panel">
    <div class="menu-item" data-dojo-attach-point="btnNode">
        <input type="checkbox" data-dojo-attach-point="checkboxPanelNode"></input>
        <div class="menu-name" data-dojo-attach-point="stepNameNode"></div>
        <i class="glyphicon glyphicon-ok-sign pull-right" data-dojo-attach-point="completeIconNode"></i>
        <i class="glyphicon glyphicon-remove-sign pull-right" data-dojo-attach-point="incompleteIconNode"></i>
    </div>
    <ul class="side-steps" data-dojo-attach-point="childMenuNode"></ul>
</li>