<div class="col-xs-6">
    <div class="form-group">
        <input type="checkbox" data-dojo-attach-point="checkboxNode"></input>
        <span data-dojo-attach-point="checkboxLabelNode"></span>
    </div>
</div>