<div class="row">
    <div class="col-xs-12">
        <p data-dojo-attach-point="titleLabelNode"></p>
        <div class="form-group" data-dojo-attach-point="checkboxAllBoxNode">
            <input type="checkbox" data-dojo-attach-point="checkboxAllNode"></input>
            <span data-dojo-attach-point="checkboxAllLabelNode"></span>
        </div>
        <div data-dojo-attach-point="CheckboxContainerNode"></div>
    </div>
</div>
