<div>
    <div breadcrumbs></div>
    <div class="wrapper wrapper-content">
        <div class="ibox">
            <div class="ibox-title">
                Excercise Page Form
            </div>
            <div class="ibox-content clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="required">Salutation</label>
                            <div data-dojo-attach-point="salutationDropdownNode"></div>
                        </div>
                        <input data-validation="required" type="text" label="NRIC" data-dojo-attach-point="NRICNode"
                            custom-input>
                        <p id="demo"></p>
                        <div class="form-group has-feedback-left">
                            <label>D.O.B</label>
                            <div data-dojo-attach-point="datepickerDOBNode"></div>
                        </div>
                        <input type="text" data-dojo-attach-point="mobileNoNode" label="Mobile No" custom-input
                            data-validation="required">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <input type="text" placeholder="Enter your name" data-dojo-attach-point="nameNode"
                            data-validation="required stringonly" label="Full Name" custom-input>
                        <div class="form-group">
                            <label>Toggle Buttons</label>
                            <div data-dojo-attach-point="toggleButtonsNode"></div>
                        </div>
                        <!-- <div class="form-group">
                            <label>Gender</label>
                            <div>
                                <input type="radio" name="gender" value="Male" checked disabled> Male
                                <input type="radio" name="gender" value="Female" disabled> Female
                            </div>
                        </div> -->
                        <div class="form-group">
                            <!-- <label class="required numberonly">Age</label> -->
                            <input type="number" placeholder="Enter Your Age" data-dojo-attach-point="ageNode"
                                data-validation="required numberonly" label="Age" custom-input disabled>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <hr />
                        <div class="text-right">
                            <button type="button" class="btn btn-default rippler rippler-inverse"
                                data-dojo-attach-point="resetNode">Reset</button>
                            <button type="button" class="btn btn-primary rippler rippler-default"
                                data-dojo-attach-point="nextNode">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>