<div>
    <div data-dojo-attach-point="breadcrumbsContainerNode"></div>
    <div class="wrapper wrapper-content">
        <div class="ibox">
            <div class="ibox-title">
                Form Confirmation
            </div>
            <div class="ibox-content clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div><b>Salutation</b></div>
                        <div data-dojo-attach-point="salutationDropdownNode"></div>
                        <div class="m0"><b>No I.C.</b></div>
                        <div data-dojo-attach-point="NRICNode"></div>
                        <div class="m0"><b>Date Of Birth</b></div>
                        <div data-dojo-attach-point="datepickerDOBNode"></div>
                        <div class="m0"><b>Mobile No</b></div>
                        <div data-dojo-attach-point="mobileNoNode"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="m0"><b>Name</b></div>
                        <div data-dojo-attach-point="nameNode"></div>
                        <div class="m0"><b>Gender</b></div>
                        <div data-dojo-attach-point="genderNode"></div>

                        <div class="m0"><b>Age</b></div>
                        <div data-dojo-attach-point="ageNode"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <hr />
                        <div class="text-right">
                            <button type="button" class="btn btn-primary rippler rippler-default"
                                data-dojo-attach-point="previousNode">Back</button>
                            <button type="button" class="btn btn-primary rippler rippler-default"
                                data-dojo-attach-point="submitNode">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>