<div class="modal modal-fullscreen text-center loginscreen fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="m-t">
                    <img src="assets/img/infopro-logo.png" />
                </div>
                <div class="middle-box">
                    <div class="form-group">
                        <input type="text" class="form-control"  required="" data-dojo-attach-point="usernameNode">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control"  required="" data-dojo-attach-point="passwordNode">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-block m-b" data-dojo-attach-point="loginNode"></button>
                    </div>
                    <div class="text-center">
                        <a><small data-dojo-attach-point="forgotPwdNode"></small></a>
                    </div>
                </div>
                <p class="m-t"> <small data-dojo-attach-point="copyRightNode"></small> </p>
            </div>
        </div>
    </div>
</div>