<div>
    <div data-dojo-attach-point="breadcrumbsContainerNode"></div>
    <div class=" wrapper wrapper-content">
        <h3 class="title">Result from Previous Form</h3>
        <div class=" ibox">
            <div class=" ibox-title">
                Result from Previous Form
            </div>
            <div class="ibox-content clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="make-bold">Name</label>
                            <p data-dojo-attach-point="nameNode"></p>
                        </div>
                        <div class="form-group">
                            <label class="make-bold">Age</label>
                            <p data-dojo-attach-point="ageNode"></p>
                        </div>
                        <div class="form-group">
                            <label class="make-bold">Gender</label>
                            <p data-dojo-attach-point="genderNode"></p>
                        </div>
                        <div class="form-group">
                            <label class="make-bold">Favourite Fruits</label>
                            <p data-dojo-attach-point="favouriteFruitsNode"></p>
                        </div>
                        <div class="form-group">
                            <label class="make-bold">Expected Salary Range</label>
                            <p data-dojo-attach-point="expectedSalaryNode"></p>
                        </div>
                        <div class="form-group">
                            <label class="make-bold">E-mail Address</label>
                            <p data-dojo-attach-point="emailNode"></p>
                        </div>
                        <div class="form-group">
                            <label class="make-bold">Alerts</label>
                            <p data-dojo-attach-point="alertsNode"></p>
                        </div>
                        <hr />
                        <div class="text-right">
                            <button type="button" class="btn btn-default rippler rippler-inverse" data-dojo-attach-point="backNode">Back</button>
                            <button type="button" class="btn btn-primary rippler rippler-default" data-dojo-attach-point="submitNode">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
