<div>
    <div breadcrumbs></div>
    <div class=" wrapper wrapper-content">
        <div class=" ibox">
            <div class=" ibox-title">
                Sample Form
            </div>
            <div class="ibox-content clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="required">Title</label>
                            <div data-dojo-attach-point="titleDropdownNode"></div>
                        </div>
                        <input type="text" placeholder="Enter your name" data-dojo-attach-point="nameNode" data-validation="required" label="Full Name" custom-input>
                        <input type="number" placeholder="Enter your age" data-dojo-attach-point="ageNode" data-validation="required numberonly" label="Age" custom-input>
                        <input type="number" placeholder="Enter Amount" data-dojo-attach-point="amountNode" data-validation="required amount minimum|-9999999999 maximum|9999999999" label="Amount" step="0.01" custom-input>
                        <input type="number" placeholder="NRIC" data-dojo-attach-point="NRICNode" data-validation="required numberonly"
                            label="NRIC" custom-input>
                        <div class="form-group">
                            <label>Gender</label>
                            <div>
                                <input type="radio" name="gender" value="Male" checked> Male
                                <input type="radio" name="gender" value="Female"> Female
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Favourite Fruits</label>
                            <div>
                                <input type="checkbox" name="fruits" value="Apples" checked> Apples
                                <input type="checkbox" name="fruits" value="Bananas"> Bananas
                                <input type="checkbox" name="fruits" value="Oranges"> Oranges
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group has-feedback-left">
                            <label>Date Range Form</label>
                            <div data-dojo-attach-point="datepickerRangeNode"></div>
                        </div>
                        <div class="form-group">
                            <label>Expected Salary Range</label>
                            <div data-dojo-attach-point="salaryRangeContainerNode"></div>
                        </div>
                        <input type="email" placeholder="@ E-mail Address" data-dojo-attach-point="emailNode" label="E-mail Address" with-icon="glyphicon glyphicon-envelope" data-validation="required email" custom-input>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <hr />
                        <div class="text-right">
                            <button type="button" class="btn btn-default rippler rippler-inverse" data-dojo-attach-point="resetNode">Reset</button>
                            <button type="button" class="btn btn-primary rippler rippler-default" data-dojo-attach-point="submitNode">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
