<div class="col-sm-12 col-lg-6 custom-table-filter" data-dojo-attach-point="dynamicElementNode">
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 filter-container">
        <div class="ibox filter-panel-ibox">
            <div class="ibox-title filter-panel-ibox-title" style="border-color:rgba(0, 0, 0, 0.9); background-color: rgba(0, 0, 0, 0.9);color:#999999" data-dojo-attach-point="filterLabelNode"></div>
            <div class="clearfix filter-panel-ibox-content" style="background-color: rgba(0, 0, 0, 0.9);">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-dojo-attach-point="filterContainerNode">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 filter-panel-top-border"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right: 0px;padding-left: 0px;">
                                <div class="text-center">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 filter-panel-right-border" style="padding-left: 0px;cursor:pointer;">
                                        <p class="filter-button" data-dojo-attach-point="resetBtnNode"></p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="cursor: pointer;">
                                        <p class="filter-button" data-dojo-attach-point="applyBtnNode"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
