 <li class="" data-dojo-attach-point="localeNode">
    <a>
        <div class="text-nowrap clear">
            <p class="m-n inline text-nowrap pull-right" data-dojo-attach-point="languageCodeNode"></p>
            <p class="font-bold m-n inline text-nowrap" data-dojo-attach-point="languageDescriptionNode"></p>
        </div>
    </a>
</li>
