<div>
    <div breadcrumbs></div>
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-xs-6 col-md-4 col-xs-offset-3 col-md-offset-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Some Title #1</h5>
                    </div>
                    <div class="ibox-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet sem mi, quis tempor massa placerat nec. Integer pharetra purus libero, vel faucibus erat dictum a. Integer dictum neque ac ultrices porta. Nullam consectetur tincidunt quam a placerat. Suspendisse vitae fermentum orci.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
