<div class="multitask-tab">
    <div class="btn" data-dojo-attach-point="showHideNode"><i class="ico-multitab" data-dojo-attach-point="multitaskIconNode"></i></div>
    <ul class="multitask-list" data-dojo-attach-point="tasktabListNode"></ul>
</div>
