<div>
    <div data-dojo-attach-point="breadcrumbsContainerNode"></div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="ibox float-e-margins" style="margin-left:-10px;margin-right: -10px;">
                <div class="ibox-content" style="padding-bottom: 45px;">
                    <div class="row">
                        <div style="text-align:left;margin-top: 10px;padding-left:20px;" class="col-sm-12">
                            <h2 data-dojo-attach-point="inboxLabelNode"></h2></div>
                    </div>
                    <div class="row" style="margin-right: -25px;">
                        <div class="row">
                            <div class="col-sm-8" data-dojo-attach-point="buttonsNode" style=""></div>
                            <div class="col-sm-4" data-dojo-attach-point="searchContainerNode" style="text-align:right;padding-right: 40px;">
                                <input type="text" placeholder="Find by subject" data-dojo-attach-point="searchSubjectNode" custom-input>
                                <p class="ico-failed" style="margin-top: -38px;margin-right: 10px;cursor: pointer;" data-dojo-attach-point="clearBtnNode"></p>
                            </div>
                        </div>
                        <div class="col-lg-12" data-dojo-attach-point="containerNode" style="padding:0;margin-left:-5px;margin-right: -5px;margin-top: 15px;">
                            <table class="table table-hover" data-dojo-attach-point="emailTableNode">
                                <tbody data-dojo-attach-point="emailTbodyTableNode"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
