<div class="row wrapper border-bottom white-bg page-heading m-t-md breadcrumbs">
    <i class="ico-back fontsize-backicon text-navy" data-dojo-attach-point="backIconNode" role="button"></i>
    <div class="inline" data-dojo-attach-point="breadcrumbsDetailsNode">
        <h2 data-dojo-attach-point="breadcrumbsCellTitleNode"></h2>
        <ol class="breadcrumb" data-dojo-attach-point="breadcrumbsCellContainerNode"></ol>
    </div>
</div>
