<li class="dropdown" data-dojo-attach-point="inboxMenuNode">
    <a data-toggle="dropdown"><i class='ico-email ico-lg' data-dojo-attach-point="inboxIconNode"></i><span class="m-l-xs" data-dojo-attach-point="inboxMenuLabelNode"></span></a>
</li>
