<ul class="nav navbar-top-links navbar-right" data-dojo-attach-point="toolbarMenuNode">
    <li class="hidden-xs">
        <span id="userModuleLabel" class="m-r-sm text-muted welcome-message"></span>
    </li>
    <li class="hidden-xs">
        <span id="appDateLabel" class="m-r-sm text-muted welcome-message"></span>
    </li>
</ul>
