<li class="dropdown" data-dojo-attach-point="localizationNode">
    <a data-toggle="dropdown"><i class='ico-language ico-lg' data-dojo-attach-point="localizationIconNode"></i><span class="m-l-xs" data-dojo-attach-point="localizationLabelNode"></span></a>
</li>
