<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
    <div class="widget-head-color-box navy-bg p-lg text-center" data-dojo-attach-point="headerNode">
        <i class="fa fa-check fa-4x m-b-none" data-dojo-attach-point="iconNode"></i>
        <h2 class="font-bold m-t-sm" data-dojo-attach-point="titleNode"></h2>
    </div>
    <div class="widget-text-box">
        <h4 class="media-heading text-center" data-dojo-attach-point="descriptionNode"></h4>
        <div class="text-center" data-dojo-attach-point="extraNode"></div>
        <hr data-dojo-attach-point="lineNode" />
        <div class="text-center" data-dojo-attach-point="buttonNode"></div>
    </div>
</div>
