<li class="text-center list-group" data-dojo-attach-point="clickableNode">
    <a class="list-group-item">
        <i class="block ico-3x" data-dojo-attach-point="icomoonClassNode"></i>
        <p class="" data-dojo-attach-point="icomoonLabelNode"></p>
    </a>
</li>
