<div>
    <div class="text-center mb15">
        <img data-dojo-attach-point="photoNode" height="150" width="150" />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 p0 col-lg-offset-1" data-dojo-attach-point="inputGroup">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" data-dojo-attach-point="inputGroup1">
            <div class="form-group">
                <label data-dojo-attach-point="customerIdNoLabel"></label>
                <input type="text" custom-input data-dojo-attach-point="customerIdNo" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label data-dojo-attach-point="alternativeIdNoLabel"></label>
                <input type="text" custom-input data-dojo-attach-point="alternativeIdNo" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label data-dojo-attach-point="fullNameLabel"></label>
                <input type="text" custom-input data-dojo-attach-point="fullName" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label data-dojo-attach-point="genderLabel"></label>
                <input type="text" custom-input data-dojo-attach-point="gender" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label data-dojo-attach-point="dobLabel"></label>
                <input type="text" custom-input data-dojo-attach-point="dob" class="form-control" disabled>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" data-dojo-attach-point="inputGroup2">
            <div class="form-group">
                <label data-dojo-attach-point="religionLabel"></label>
                <input type="text" custom-input data-dojo-attach-point="religion" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label data-dojo-attach-point="postCodeLabel"></label>
                <input type="text" custom-input data-dojo-attach-point="postCode" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label data-dojo-attach-point="cityLabel"></label>
                <input type="text" custom-input data-dojo-attach-point="city" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label data-dojo-attach-point="stateCodeLabel"></label>
                <input type="text" custom-input data-dojo-attach-point="stateCode" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label data-dojo-attach-point="countryLabel"></label>
                <input type="text" custom-input data-dojo-attach-point="country" class="form-control" disabled>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary" data-dojo-attach-point="scanBtnNode"></button>
        <button type="button" data-dismiss="modal" class="btn btn-default" data-dojo-attach-point="proceedBtnNode" disabled></button>
    </div>
</div>
