<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Upload to Google Drive <span data-dojo-attach-point="titleNumber1Node"></span></h3>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputFile">File input</label>
                                        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                        <small id="fileHelp" class="form-text text-muted">Transfer via base64</small>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary with-icon m-b-xs" data-dojo-attach-point="submitBtnNode"><span class="fa fa-cloud-upload"></span> Upload</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                <form data-dojo-attach-point="formNode">
                                    <div class="form-group">
                                        <label for="exampleInputFile">File input</label>
                                        <input type="file" class="form-control-file" id="img" name="img" aria-describedby="fileHelp">
                                        <small id="fileHelp" class="form-text text-muted">Transfer via Blob</small>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary with-icon m-b-xs" data-dojo-attach-point="submitBtnNode2"><span class="fa fa-cloud-upload"></span> Upload</button>
                                    </div>
                                    <div class="" data-dojo-attach-point="fileUploadNode3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                <form data-dojo-attach-point="formNode">
                                    <div class="form-group">
                                        <label for="exampleInputFile">File input</label>
                                        <input type="file" class="form-control-file" id="img" name="img" aria-describedby="fileHelp">
                                        <small id="fileHelp" class="form-text text-muted">Transfer via CORS</small>
                                    </div>
                                    <div class="pull-right">
                                        <div class="" data-dojo-attach-point="fileUploadNode3">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Upload to DropBox <span data-dojo-attach-point="titleNumber1Node"></span></h3>
                </div>
                <div class="panel-body">
                    <div>
                        <!--<p> Cloud Storage <span data-dojo-attach-point="titleNumber2Node"></span>.</p> -->
                        <form>
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" class="form-control-file" id="image" aria-describedby="fileHelp">
                                <small id="fileHelp" class="form-text text-muted">Transfer via BLOB</small>
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary with-icon m-b-xs" data-dojo-attach-point="submitBtnNode4"><span class="fa fa-cloud-upload"></span> Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>