<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Sample Modal 1</h4>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt dapibus ullamcorper. In hac habitasse platea dictumst. Morbi eu sem sed arcu iaculis semper congue in tellus. Ut faucibus ullamcorper arcu vitae luctus. Mauris lacus nisi, aliquam ac euismod non, aliquam eget elit. Donec efficitur enim nec diam egestas, sodales auctor dolor lobortis. Sed quis leo fermentum, ornare turpis in, porta nisi. Suspendisse ipsum metus, rhoncus hendrerit purus id, dictum venenatis tellus. Nullam maximus sem eu diam auctor, vestibulum vestibulum metus venenatis. Proin et imperdiet quam, a porttitor odio. Praesent mollis et urna elementum laoreet. Nulla facilisi. Integer in sagittis eros.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dojo-attach-point="nextStackedNode">Next Stacked Modal</button>
                <button type="button" class="btn btn-primary" data-dojo-attach-point="nextNode">Next Modal</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
