<li data-dojo-attach-point="logoutNode">
    <a><i class="ico-logout-2 ico-lg" data-dojo-attach-point="logoutIconNode"></i><span class="m-l-xs" data-dojo-attach-point="logoutLabelNode"></span></a>
</li>
