<div>
    <div class="input-daterange">
        <div class="form-group" data-dojo-attach-point="fromContainerNode">
            <label data-dojo-attach-point="labelFromNode"></label>
            <div class="input-group date" data-dojo-attach-point="fromNode">
                <div class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </div>
                <input type="text" class="form-control" name="from" data-dojo-attach-point="fromDateNode">
            </div>
            <input type="hidden" data-dojo-attach-point="inputFromNode">
        </div>
        <div class="form-group" data-dojo-attach-point="toContainerNode">
            <label data-dojo-attach-point="labelToNode"></label>
            <div class="input-group date" data-dojo-attach-point="toNode">
                <div class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </div>
                <input type="text" class="form-control" name="to" data-dojo-attach-point="toDateNode">
            </div>
            <input type="hidden" data-dojo-attach-point="inputToNode">
        </div>
    </div>
</div>
