<div class="input-daterange row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pl5 pr5" data-dojo-attach-point="fromContainerNode">
        <label data-dojo-attach-point="labelFromNode"></label>
        <div class="input-group date" data-dojo-attach-point="fromNode">
            <div class="input-group-addon bl-radius-3">
                <span class="fa fa-calendar"></span>
            </div>
            <input type="text" class="form-control br-radius-3" name="from" data-dojo-attach-point="fromDateNode">
        </div>
        <input type="hidden" data-dojo-attach-point="inputFromNode">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pl5 pr5" data-dojo-attach-point="toContainerNode">
        <label data-dojo-attach-point="labelToNode"></label>
        <div class="input-group date" data-dojo-attach-point="toNode">
            <div class="input-group-addon bl-radius-3">
                <span class="fa fa-calendar"></span>
            </div>
            <input type="text" class="form-control br-radius-3" name="to" data-dojo-attach-point="toDateNode">
        </div>
        <input type="hidden" data-dojo-attach-point="inputToNode">
    </div>
</div>
