<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul id="side-menu" class="nav metismenu" data-dojo-attach-point="sideMenuNode">
            <li class="nav-header">
                <div class="dropdown profile-element text-center" data-dojo-attach-point="dropdownNode">
                    <i data-dojo-attach-point="defaultImageNode" class="ico-name default-image-side-menu"></i>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <span class="clear"> <span class="block m-t-xs"> <strong id="userIdLabel" class="font-bold" data-dojo-attach-point="userIdNode">User ID</strong>
                             </span> <span id="userNameLabel" class="text-muted text-xs block" data-dojo-attach-point="usernameNode">Username<b class="caret"></b></span> </span>
                    </a>
                </div>
                <div class="logo-element">
                    I.PRO
                </div>
            </li>
        </ul>
    </div>
</nav>
