<div data-dojo-attach-point="carouselContainerNode">
	<div id="carousel-element" class="carousel slide" data-ride="carousel" data-dojo-attach-point="carouselNode">
		<!--<ol class="carousel-indicators" data-dojo-attach-point="carouselDotsNode"></ol>-->
		<div class="carousel-inner" data-dojo-attach-point="carouselInnerNode"></div>
		<a data-slide="prev" href="#carouselCard" class="left carousel-control" data-dojo-attach-point="prevPanelNode"> 
            <span class="icon-prev" data-dojo-attach-point="prevBtnNode"></span>
        </a>
        <a data-slide="next" href="#carouselCard" class="right carousel-control" data-dojo-attach-point="nextPanelNode">
            <span class="icon-next" data-dojo-attach-point="nextBtnNode"></span>
        </a>
	</div>
</div>