.amount-texfield {
    .currency,
    .amount,
    .dot,
    .decimal {
        display: inline-block;
    }
    .currency {
        width: 75px;
        float: left;
    }
    .amount {
        width: calc(100% - 120px);
        text-align: right;
    }
    .decimal {
        width: 45px;
        float: right;
    }
}

.remove-spinner::-webkit-inner-spin-button,
.remove-spinner::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0;
}       