.breadcrumbs {
    .fontsize-backicon {
        font-size: 50px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 20px;
        color: #18b396;
    }
    .breadcrumb>li a {
        color: #18b396;
    }
}
