.campaign-cell {
    background-image: url('../../assets/img/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
    border: none;
    height: 190px;
    position: relative;
    margin: 0;
    .campaign-title {
        font-weight: bold;
        font-size: 16px;
        text-shadow: 1px 1px 4px rgba(150, 150, 221, 1);
        .title-text {
            margin: inherit;
        }
    }
    .campaign-expiry {
        text-shadow: 1px 1px 4px rgba(150, 150, 221, 1);
    }
    .apply-btn {
        position: absolute;
        bottom: 15px;
        right: 20px;
        color: #00698b;
        font-weight: bold;
    }
    .tools-padding {
        padding-right: 5px;
    }
}

.viewmore-link {
    color: #00698b;
    position: relative;
    float: right;
    bottom: 0;
    font-size: 12px;
}

.campaign-cell-content {
    overflow: hidden;
    position: relative;
    .campaign-desc {
        overflow: hidden;
        min-height: 75px;
        color: #484848;
        &.desc-cell {
            max-height: 75px;
        }
    }
}
