 .carousel {
     .carousel-indicators {
         bottom: -10px;
         li {
             border-color: darkgray;
         }
     }
     .carousel-control {
         height: 100%;
         width: 20px;
         &.left {
             background-image: linear-gradient(to right, rgba(0, 0, 0, 0.12) 0, rgba(0, 0, 0, .0001) 100%);
             .icon-prev {
                 position: absolute;
                 top: 50%;
             }
         }
         &.right {
             background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, 0.12) 100%);
             .icon-next {
                 position: absolute;
                 top: 50%;
             }
         }
     }
 }
 
 .carousel-box {
     .owl-stage {
         padding-left: 0 !important
     }
     .ico-carousel-prev,
     .ico-carousel-next {
         font-size: $fs37;
         background-color: #d6d6d6;
         box-shadow: 0 0 15px #18a689;
         padding: 5px;
     }
     .ico-carousel-prev:hover,
     .ico-carousel-next:hover,
     .ico-carousel-prev:focus,
     .ico-carousel-next:focus {
         background-color: #18a689;
     }
     .owl-prev,
     .owl-next {
         position: absolute;
         top: 50%;
         padding: 0px;
         margin: 0;
         z-index: 100;
         cursor: pointer;
         color: #fff;
     }
     .owl-prev {
         left: -35px;
     }
     .owl-next {
         right: -35px;
     }
 }
