.icheckbox_square-green {
    background: url(../../assets/img/green.png) no-repeat;
}

.iradio_square-green{
	background: url(../../assets/img/green.png) no-repeat;
    background-position: -120px 0;
}

/* HiDPI support */

@media (-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    .icheckbox_square-green,
    .iradio_square-green {
        background-image: url(../../assets/img/green@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}
