// import custom scss here
@import 'modal';
@import 'validation';
@import 'dropdown';
@import 'amounttextfield';
@import 'datepicker';
@import 'switchery';
@import 'slider';
@import 'noresult';
@import 'checkbox';
@import 'customskins';
@import 'customtable';
@import 'carousel';
@import 'breadcrumbs';
@import 'daterangepicker';
@import 'searchinput';
@import 'successfail';
@import 'sidesteps';
@import 'nestedtree';
@import 'timeframe';
@import 'inboxnotification';
@import "icomoon";
@import "uploadfile";
@import "dropdownstep";
@import "togglebuttons";
@import "localization";
@import "quicknavigationmenu";
@import "multitasktab";
@import "loadingblock"; 


#multitabContainer {
    z-index: 999999999;
}

// override inspinia theme here
.ibox-title {
    border-color: $navy
}

.btn-lg {
    font-size: $fs13;
}

.custom-btn {
    height: $custom-height;
    font-size: $fs17;
    vertical-align: super;
    .custom-button-icon {
        font-size: $fs23;
    }
    .custom-button-label {
        vertical-align: super;
    }
    span {
        word-wrap: normal;
        display: inline-block;
    }
}

//Search input
.custom-search-input {
    button {
        height: $custom-height;
        font-size: $fs13;
    }
    input,
    .input-group-btn {
        height: $custom-height;
        font-size: $fs17;
    }
}

.nav-header {
    background-image: unset;
}

.skin-1 .nav-header {
    background-image: url('../img/header-profile-skin-1.png');
}

.skin-2 .nav-header {
    background-image: url('../img/header-profile-skin-2.png');
}

.skin-3 .nav-header {
    background-image: url('../img/header-profile-skin-3.png');
}

.blue-skin {
    background: url("../img/header-profile-skin-1.png") repeat scroll 0 0;
}

.yellow-skin {
    background: url("../img/header-profile-skin-3.png") repeat scroll 0 100%;
}

.ultra-skin {
    background: url("../img/3.png") repeat scroll 0 0;
}

.ultra-skin:hover {
    background: url("../img/4.png") repeat scroll 0 0;
}

body.fixed-sidebar.mini-navbar .navbar-static-side {
    display: none;
}

//body.fixed-sidebar .navbar-static-side {
//    position: absolute;
//}
body.mini-navbar .nav-header {
    background-color: unset;
}

//.fixed-sidebar.body-small .navbar-static-side {
//    position: absolute;
//}
//@media (max-width: 768px) {
//    .fixed-sidebar.body-small .navbar-static-side {
//        position: absolute;
//    }
//}
.nav-second-level li:last-child {
    margin-bottom: 0;
}

#side-menu {
    .fixed-sidebar {
        display: block;
        .body-small {
            display: none;
            .mini-navbar {
                display: block;
            }
        }
        .mini-navbar {
            display: none;
        }
    }
}

// to set min width to tablet size
//body {
//    min-width: 760px;
//    overflow-x: auto;
//}
.default-image-side-menu {
    font-size: 37px;
    padding: 5px;
    background-color: #DDDDDD;
    border-radius: 100%;
}

.navbar-logo {
    height: 25px;
    width: 150px;
    margin-top: 15px;
    margin-left: 15px;
}

.nav.navbar-right > li > a {
    color: $navy;
    font-size: $fs22;
    padding: 15px;
    i {
        margin-right: 0px;
    }
}

.dropdown-menu > li > a {
    margin: unset;
}

.m-t-n-sm {
    margin-top: -10px !important;
}

.breadcrumb > li a {
    color: $navy;
    ;
}

.dropdown-messages {
    width: 310px !important;
    li {
        a {
            font-size: $fs12 !important;
        }
    }
}

.orange-bg {
    background-color: #fea700;
}

.pr0 {
    padding-right: 0px !important;
}

.pl0 {
    padding-left: 0px !important;
}

.dataTables_filter label {
    margin-right: 0px; 
}

.grid-stack {
    .grid-stack-item[data-gs-width="3"] {
        width: 100%
    }
    .grid-stack-item[data-gs-width="2"] {
        width: 66.66666667%
    }
    .grid-stack-item[data-gs-width="1"] {
        width: 33.33333333%
    }
    .grid-stack-item[data-gs-x="2"] {
        left: 66.66666667%
    }
    .grid-stack-item[data-gs-x="1"] {
        left: 33.33333333%
    }
    .grid-widget-item {
        .grid-stack-item-content {
            .ibox {
                margin-bottom: 0px;
            }
            .fullHeight {
                height: 100%;
                .ibox {
                    height: 100%;
                }
            }
        }
    }
}