    div.dataTables_wrapper {
        div.dataTables_filter {
            text-align: right;
            input {
                width: 250px;
                float: right;
                width: 250px;
            }
        }
        div.dataTables_paginate {
            display: inline-block;
            float: right;
            margin-top: 6px;
        }
        div.dataTables_info {
            display: inline-block;
        }
    }
    
    .dataTables_empty {
        text-align: right;
    }
    
    .no-vertical-border.dataTable {
        border-left: none;
        border-right: none;
        td,
        th {
            border-left: none;
            border-right: none;
        }
    }
    
    table.dataTable {
        tbody>tr.child {
            background: transparent;
            td {
                border-right-width: 0px;
                border-left-width: 0px;
                border-bottom-width: 0px;
                border-top-width: 0px;
            }
        }
        tbody tr.selected {
            background-color: $navy;
            color: white;
            input {
                color: black;
            }
            .list-tablelabel {
                color: white;
            }
        }
        thead {
            .sorting_asc,
            .sorting_desc {
                background: $light-blue;
            }
            .sorting_asc:after {
                font-family: 'icomoon';
                content: "\e928";
                font-size: 20px;
                opacity: 1;
                bottom: 1px;
            }
            .sorting_desc:after {
                font-family: 'icomoon';
                content: "\e928";
                font-size: 20px;
                opacity: 1;
                top: -1px;
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            .sorting:after {
                font-family: 'icomoon';
                content: "\e927";
                font-size: 20px;
                opacity: 1;
                bottom: 4px;
            }
        }
    }
    
    table.dataTable.dtr-inline.collapsed > tbody {
        tr {
            td:first-child:before,
            th:first-child:before {
                border: 10px solid transparent;
                font-family: 'FontAwesome';
                content: '\f105';
                color: #828284;
                top: 0px;
                background-color: transparent;
                box-shadow: none;
                left: 0px;
            }
            td:first-child,
            th:first-child {
                padding-left: 40px;
                cursor: default;
            }
        }
        tr.selected {
            td:first-child:before {
                color: white;
            }
        }
        tr.parent > td:first-child:before,
        tr.parent > th:first-child:before {
            content: '\f107';
            background-color: transparent;
        }
    }
    
    div.dataTables_scrollBody table,
    div.dataTables_scrollFoot table {
        border-bottom: 1px solid #e7eaec;
    }
    
    .table-striped > tbody {
        tr:nth-of-type(even) {
            background-color: $td-lightgray;
        }
        tr:nth-of-type(odd) {
            background-color: $td-white;
        }
    }
    
    .list-tablelabel {
        font-weight: normal;
        color: #18a689;
        text-decoration: underline;
        padding-left: 14px;
        cursor: pointer;
    }
    
    .custom-table-filter {
        float: right;
        .list-filter {
            padding: 18px;
            padding-bottom: 2px;
            padding-left: 0px;
            border-top: 0;
            border-bottom: 1px solid #999999;
            background: none;
        }
        .ptag-label {
            display: inline-block;
            padding-left: 5px;
        }
        .input-state {
            color: #1ab394;
        }
        input.input-state {
            background: none;
            border: none;
            padding: 10px;
            width: 90%;
            color: #999999;
            outline: none !important;
            font-weight: bold;
            padding-left: 0px;
        }
        .icon-child {
            float: left;
            color: #999999;
            font-size: 1.4em;
            margin-top: -2px;
        }
        input[type=checkbox] {
            margin-top: -30px;
            display: none;
        }
        input[type=checkbox] + label:before {
            font-family: FontAwesome;
            display: inline-block;
            content: "\f00c";
            font-size: 20px;
            margin-top: -5px;
            color: #7e7e7e;
        }
        input[type=checkbox]:checked + label:before {
            color: #18a689;
        }
        .filter-container {
            padding-right: 0px;
            position: absolute;
            z-index: 999;
        }
        .filter-panel-ibox {
            margin-bottom: 0px;
            text-align: left;
        }
        .filter-panel-ibox-title {
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.8);
            border-color: #999999;
        }
        .filter-panel-ibox-content {
            color: #999999;
            padding-top: 0;
            padding-bottom: 0px;
            background-color: rgba(0, 0, 0, 0.8);
            clear: both;
            overflow: hidden;
        }
        .filter-panel-top-border {
            border-top: 1px solid #999999;
        }
        .filter-panel-right-border {
            border-right: 1px solid #999999;
        }
        .filter-button {
            color: #1ab294;
            font-weight: bold;
            margin: 15px 0px;
        }
    }
    
    .custom-filter-display-none {
        visibility: hidden;
    }
    
    .pagination {
        li {
            a,
            span {
                width: 35px;
                height: 30px;
                i {
                    margin-left: -5px;
                }
            }
        }
    }
    
    .add-margin-left {
        margin-left: 6px;
    }
