.datepckr-icon {
    padding: 0px;
} 

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
    background-image: linear-gradient(to bottom, #1ab394, #1ab394);
}