.dropdown {
    .dropdown-menu {
        position: absolute;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 5px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        cursor: pointer;
        width: 100%;
        overflow-x: hidden;
    }
    .dropdown-cell {
        height: auto;
    }
    .dropdown-btn {
        background-color: white;
        border: 1px solid #aaa;
        width: 100%;
        text-align: left;
        padding: 7px 10px;
        border-radius: 1px;
    }
    .dropdown-arrow {
        padding-top: 4px;
        float: right;
    }
    .dropdown-disabled {
        background-color: #eee;
        opacity: 1;
        color: inherit;
        border: 1px solid #e5e6e7;
        cursor: not-allowed;
    }
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-cell-effect:hover {
    background-color: #5897fb;
    a {
        color: white;
    }
}

.dropdown-cell-effect {
    padding: 5px 10px;
}

.dropdown-cell-selected {
    background-color: #ddd;
}

.dropdown-search {
    margin-bottom: 5px;
}

.open > .dropdown-btn {
    border: 1px solid #aaa;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
    background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
    box-shadow: 0 1px 0 #fff inset;
}

.dropdown-btn:focus {
    // outline: none;
}

.dropdown-menu >div>li>a:focus {
    color: white;
    text-decoration: none;
    background-color: #5897fb;
}

.dropdown-cell-effect > a {
    color: $text-color;
}
