.dropdownstep {
    padding: 10px 0px;
    .dropdownstep-container {
        display: inline-block;
        .dropdownstep-container-dropdown {
            display: inline-block;
            width: 160px;
            vertical-align: middle;
            .dropdown {
                .dropdown-btn {
                    height: 34px;
                    span[data-dojo-attach-point="dropdownLabelNode"] {
                        width: 130px;
                        display: inline-block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .dropdown-list {
                    width: auto;
                    padding: 0px;
                    background-color: #333333;
                    .dropdown-cell {
                        .dropdown-cell-effect {
                            padding: 0px 10px;
                            span {
                                display: block;
                                white-space: nowrap;
                                color: #FFFFFF;
                                border-bottom: 1px groove $border-color;
                                padding: 8px 0px;
                            }
                        }
                        .dropdown-cell-effect:last-of-type span {
                            border: none;
                        }
                        .dropdown-cell-effect:hover {
                            background-color: $navy;
                            color: white;
                        }
                        .dropdown-cell-selected {
                            background-color: inherit;
                        }
                    }
                }
            }
        }
        .ico-next {
            vertical-align: middle;
            font-size: 50px;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .text-top {
            vertical-align: text-top;
        }
    }
}
