// google open sans
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Light/OpenSans-Light.woff') format('woff'),
       url('../fonts/Light/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Regular/OpenSans-Regular.woff') format('woff'),
       url('../fonts/Regular/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Semibold/OpenSans-Semibold.woff') format('woff'),
       url('../fonts/Semibold/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Bold/OpenSans-Bold.woff') format('woff'),
       url('../fonts/Bold/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/LightItalic/OpenSans-LightItalic.woff') format('woff'),
       url('../fonts/LightItalic/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/BoldItalic/OpenSans-BoldItalic.woff') format('woff'),
       url('../fonts/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype');
}

