.navtab-main {
    min-height: 10px;
    max-height: 58px;
    background-color: $navtab-white;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-top: 3px solid #f3f3f4;
    border-bottom: 3px solid #f3f3f4;
    #tabContainer {
        height: 52px;
        margin-bottom: 0;
        line-height: 50px;
        .owl-item {
            width: auto !important;
        } 
        .task-tab-cell {
            display: block;
            color: $black;
            cursor: pointer;
            font-weight: 600;
            font-size: 13px;
            max-width: 200px;
            border-right: 3px solid #f3f3f4;
            height: 52px;
            &:not(:first-child) {
                padding-left: 15px;
            }
            &:not(:last-child) {
                border-right: 1px solid $navtab-white;
            }
            .fa {
                margin-right: 22px;
                color: $dark-gray;
            }
            &.active> span {
                color: $navy;
            }
            .grey-div {
                background-color: $gray;
                height: 46px;
                width: 46px;
                float: right;
                margin-left: 5px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .name-label {
                padding: 0 22px;
                display: inline-block;
                max-width: 161px;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
                vertical-align: bottom;
            }
        }
    }
    #tabToggler {
        z-index: 3;
        position: absolute;
        right: 30px;
        @media (max-width: 499px) {
            right: 10px;
        }
        font-size: $fs19;
        padding: 10px 5px 5px 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: $navtab-white;
    }
}

.navtab-left-small {
    left: 0px;
}

.navtab-left-big {
    left: 220px;
}

.content-container {
    padding-top: 130px;
}

.main-header {
    position: fixed;
    z-index: 2000;
    right: 0;
    left: 220px;
    transition-duration: 0.4s;
    .navbar {
        background-color: white;
    }
     .nav {
        margin-right: 0;
        .logout-btn {
            margin-right: 25px !important;
        }
    }
}

body {
    &.mini-navbar {
        &.body-small {
            .main-header {
                left: 220px;
            }
        }
    }
}

body {
    &.mini-navbar {
        .main-header {
            left: 0px;
        }
    }
}

body {
    &.body-small {
        .main-header {
            left: 0px;
        }
    }
}

.welcome-bar {
    animation-duration: 0.2s;
    &.hide-welcome {
        display: none;
    }
}

.navbar-logo{
    float: right;
}