@import 'variables';
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?4e6ui9');
    src: url('../fonts/icomoon.eot?4e6ui9#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?4e6ui9') format('truetype'), url('../fonts/icomoon.woff?4e6ui9') format('woff'), url('../fonts/icomoon.svg?4e6ui9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ico-"],
[class*=" ico-"] {
    display: inline-block;
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-fontsize {
    font-size: $fs27;
    color: $navy;
    padding: 15px;
}

.ico-textfontsize {
    font-size: $fs20;
}

.ico-margin {
    margin: 10px;
}

.ico-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.ico-2x {
    font-size: 2em;
}

.ico-3x {
    font-size: 3em;
}

.ico-4x {
    font-size: 4em;
}

.ico-5x {
    font-size: 5em;
}

.ico-fw {
    width: 1.28571429em;
    text-align: center;
}

.ico-add:before {
  content: "\e940";
}

.ico-search-2:before {
    content: "\e936";
}

.ico-legalcaseupdate:before {
    content: "\e906";
}

.ico-legalcasereassignment:before {
    content: "\e935";
}

.ico-multitab:before {
    content: "\e94f";
}

.ico-logout-2:before {
    content: "\e950";
}

.ico-language:before {
    content: "\e951";
}

.ico-logout-1:before {
    content: "\e952";
}

.ico-multitab-close:before {
    content: "\e953";
}

.ico-loansme:before {
    content: "\e948";
}

.ico-loaneducational:before {
    content: "\e949";
}

.ico-loandefault:before {
    content: "\e94a";
}

.ico-star:before {
    content: "\e94b";
}

.ico-loanpersonal:before {
    content: "\e94c";
}

.ico-loanhousing:before {
    content: "\e94d";
}

.ico-loanauto:before {
    content: "\e94e";
}

.ico-verifylof:before {
    content: "\e924";
}

.ico-upload_failed:before {
    content: "\e929";
}

.ico-upload:before {
    content: "\e92a";
}

.ico-timeline:before {
    content: "\e92b";
}

.ico-refresh:before {
    content: "\e92c";
}

.ico-quickca:before {
    content: "\e92d";
}

.ico-printlof:before {
    content: "\e92e";
}

.ico-paging-previousmax:before {
    content: "\e92f";
}

.ico-paging-previous:before {
    content: "\e930";
}

.ico-paging-nextmax:before {
    content: "\e931";
}

.ico-paging-next:before {
    content: "\e932";
}

.ico-loanentitlement:before {
    content: "\e933";
}

.ico-loancalculator:before {
    content: "\e934";
}

.ico-legalcaselisting:before {
    content: "\e937";
}

.ico-floating:before {
    content: "\e938";
}

.ico-filter:before {
    content: "\e939";
}

.ico-filetype-unknown:before {
    content: "\e93a";
}

.ico-filetype-txt:before {
    content: "\e93b";
}

.ico-filetype-png:before {
    content: "\e93c";
}

.ico-filetype-pdf:before {
    content: "\e93d";
}

.ico-filetype-jpg:before {
    content: "\e93e";
}

.ico-filetype-doc:before {
    content: "\e93f";
}

.ico-extra:before {
    content: "\e941";
}

.ico-edit:before {
    content: "\e942";
}

.ico-download:before {
    content: "\e944";
}

.ico-delete:before {
    content: "\e945";
}

.ico-customerexposureenquiry:before {
    content: "\e946";
}

.ico-caapproval:before {
    content: "\e947";
}

.ico-failed:before {
    content: "\e900";
}

.ico-success:before {
    content: "\e901";
}

.ico-warning:before {
    content: "\e902";
}

.ico-go-2:before {
    content: "\e923";
}

.ico-calendar:before {
    content: "\e921";
}

.ico-expand-active:before {
    content: "\e922";
}

.ico-next:before {
    content: "\e925";
}

.ico-relationship:before {
    content: "\e926";
}

.ico-sorting:before {
    content: "\e927";
}

.ico-sorting-active:before {
    content: "\e928";
}

.ico-journal:before {
    content: "\e91d";
}

.ico-cheque-2:before {
    content: "\e91e";
}

.ico-cash:before {
    content: "\e91f";
}

.ico-go:before {
    content: "\e920";
}

.ico-sad:before {
    content: "\e919";
}

.ico-close:before {
    content: "\e903";
}

.ico-dashboard:before {
    content: "\e904";
}

.ico-expand:before {
    content: "\e905";
}

.ico-menu:before {
    content: "\e907";
}

.ico-qr:before {
    content: "\e908";
}

.ico-transfer:before {
    content: "\e909";
}

.ico-widget:before {
    content: "\e90a";
}

.ico-back:before {
    content: "\e90b";
}

.ico-biometric:before {
    content: "\e90c";
}

.ico-caret-down:before {
    content: "\e90d";
}

.ico-search-1:before {
    content: "\e90e";
}

.ico-notification:before {
    content: "\e90f";
}

.ico-account:before {
    content: "\e910";
}

.ico-address:before {
    content: "\e911";
}

.ico-certificate:before {
    content: "\e912";
}

.ico-deposit:before {
    content: "\e913";
}

.ico-email:before {
    content: "\e914";
}

.ico-signature:before {
    content: "\e915";
}

.ico-cheque-1:before {
    content: "\e916";
}

.ico-id:before {
    content: "\e917";
}

.ico-name:before {
    content: "\e918";
}

.ico-payment:before {
    content: "\e91a";
}

.ico-phone:before {
    content: "\e91b";
}

.ico-withdrawal:before {
    content: "\e91c";
}
