.navbar-right .dropdown-notification {
    width: 330px;
}

@media (max-width: 768px) {
    .dropdown-notification.notification-xs {
        margin-right: 5px;
        width: 310px;
    }
}

.bordered-bottom {
    border-bottom: 1px solid blue;
    border-top-width: 0px;
}

.dropdown-notification {
    padding: 0px 0;
}

.navbar-right .dropdown-notification li:not(.arrow-up) {
    padding: 10px;
}

@media (max-width: 768px) {
    .navbar-right .dropdown-notification li:not(.arrow-up) {
        padding-right: 30px;
    }
}

.navbar-right .dropdown-notification li:not(.arrow-up) .fa {
    font-size: 1.9em;
    color: #007fff;
}

.notification-scrollbar {
    overflow: auto;
    height: 410px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

@media (max-width: 768px) {
    .notification-scrollbar {
        height: 370px;
    }
}

.notification-seeall {
    text-align: center;
    text-decoration: underline;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.navbar-right .dropdown-menu1 {
    margin-top: 16px;
    margin-right: 5px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.notification-item-list {
    &:hover {
        background-color: #eeeeee;
    }
}

.bold-word {
    font-weight: bold;
}
