.loader-wrapper {
    background-color: white;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

.loader {
    margin-top: 20%;
    margin-left: 25%;
}
