.locale {
    .locale-scrollbar {
        overflow: visible;
        height: 0px;
    }
}

.locale-cell {
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5 !important;
    display: inline-block !important;
    .locale-description {
        font-size: 12px;
    }
    .locale-code {
        font-size: 90%;
        float: right;
    }
}
