.modal-fullscreen {
    background-color: $gray;
    .modal-dialog {
        background-size: cover;
        margin: 0;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
    .modal-content {
        background-color: transparent;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.modal-header { 
    .modal-close-btn {
        float: right;
        color: gray;
        cursor: pointer;
    }
    .modal-content {
        border-radius: 2px;
        border-style: solid solid none;
        border-width: 3px 0 0;
        border-color: #1ab394;
    }
    .modal-body {
        padding: 15px;
    }
    .dataTables_wrapper {
        padding-bottom: 14px;
    } 
}
