#multitabContainer {
    position: fixed;
    top: 111px;
    right: 0;
    > .multitask-tab {
        margin-right: -220px;
        position: relative;
        z-index: 2000;
        transition-duration: 0.8s;
        > div:first-child {
            background: $navy;
            position: absolute;
            padding: 8px 7px 2px 8px;
            border-radius: 15px 0 0 15px;
            top: 0;
            left: -40px;
            width: 40px;
            color: #fff;
            cursor: pointer;
            > i {
                -webkit-transition-duration: 0.8s;
                -moz-transition-duration: 0.8s;
                -o-transition-duration: 0.8s;
                transition-duration: 0.8s;
                font-size: $fs22;
                display: inline-block;
            }
        }
        > ul {
            width: 220px;
            background-color: $light-gray-3;
            > li {
                margin-left: -40px;
                list-style-type: none;
                > div {
                    > a:last-child {
                        padding: 10px 7px 3px 7px;
                        font-size: $fs22;
                        cursor: pointer;
                    }
                    > a:first-child {
                        cursor: pointer;
                        color: inherit;
                        width: 180px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                > div > hr {
                    color: white;
                    height: 1px;
                    border: none;
                    background-color: white;
                    margin: 0px 0px 0px 10px;
                }
            }
            > li:last-child {
                div > hr {
                    height: 1px;
                    color: $light-gray-3;
                    background-color: $light-gray-3;
                }
            }
            > li:last-child.active {
                div > hr {
                    color: $light-gray-2;
                    background-color: $light-gray-2;
                }
            }
            > li.active {
                > div {
                    background-color: $light-gray-2;
                    > a:first-child {
                        color: $navy;
                        font-weight: 600;
                    }
                }
            }
            > li:hover {
                background-color: $light-gray-2;
                font-weight: 600;
            }
        }
    }
    > .multitask-tab.show {
        margin-right: 0;
        > div > .ico-multitab {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}
