.nestedtree-alternative-child {
    padding: 10px 20px 0px 0px;
}

.nestedtree-border-bottom {
    border-bottom: 1px solid #e7eaec;
}

.nestedtree-product-label {
    min-width: 200px;
    color: #1ab394;
}

.nestedtree-icon-padding-top {
    margin-top: 0px !important;
    position: absolute;
}

.nestedtree-productdesc {
    padding-bottom: 5px;
    display: inline-block;
    text-align: left !important;
}
