/*note: refer to _variable.scss to change the color or font size*/
.no-result {
    text-align: center;
    color: $noresultfont;
    h3.no-result-title {
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .no-result-icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        clear: both;
    }
}
