    .quicknavigationmenu-btn {
        position: fixed;
        bottom: 20px;
        right: 35px;
        z-index: 100;
        a {
            height: 38px;
            width: 38px;
            display: block;
            background: $navy;
            padding: 8px 0px;
            text-align: center;
            color: #ffffff;
            border-radius: 50%;
            box-shadow: 0 0.0625em 0.1875em rgba(0, 0, 0, .12), 0 0.0625em 0.125em rgba(0, 0, 0, .24);
        }
        i {
            font-size: x-large;
        }
    }
    
    .quicknavigationmenu-margintopbtn {
        margin-top: -1px;
    }
    
    .quicknavigationmenu-list {
        position: fixed;
        bottom: 58px;
        border-radius: 4px;
        z-index: 1000;
        overflow: hidden;
        color: #ffffff;
        right: 35px;
        ul {
            list-style: none;
            li {
                cursor: pointer;
                height: 42px;
                line-height: 35px;
                span {
                    background: $navy;
                    border-radius: 20px;
                    padding: 13px 10px 1px 13px;
                    height: 38px;
                    width: 38px;
                    margin: 0px;
                    margin-left: 10px;
                }
                label {
                    font-weight: normal;
                    background: #696969;
                    padding: 0px 10px;
                    opacity: 0.8;
                    float: right;
                    border-radius: 3px;
                }
            }
            span {
                float: right;
            }
        }
    }
    
    .quicknavigationmenu-list-overflow {
        position: fixed;
        bottom: 58px;
        border-radius: 4px;
        z-index: 1000;
        overflow: hidden;
        color: #ffffff;
        right: 18px;
        ul {
            list-style: none;
            overflow: auto;
            margin-right: -100px;
            padding-right: 100px;
            max-height: 400px;
            li {
                cursor: pointer;
                height: 42px;
                line-height: 35px;
                span {
                    background: $navy;
                    border-radius: 20px;
                    padding: 13px 10px 1px 13px;
                    height: 38px;
                    width: 38px;
                    margin: 0px;
                    margin-left: 10px;
                }
                label {
                    font-weight: normal;
                    background: #696969;
                    padding: 0px 10px;
                    opacity: 0.8;
                    float: right;
                    border-radius: 3px;
                }
            }
            span {
                float: right;
            }
        }
    }
