.shapeshift-container {
    position: relative !important;
    width: 100% !important;
    > div {
        position: absolute !important;
        width: 30% !important;
    }
    > div[data-ss-colspan='2'] {
        /* Firefox */
        width: -moz-calc(60% + 30px) !important;
        /* WebKit */
        width: -webkit-calc(60% + 30px) !important;
        /* Opera */
        width: -o-calc(60% + 30px) !important;
        /* Standard */
        width: calc(60% + 30px) !important;
    }
    > div[data-ss-colspan='3'] {
        /* Firefox */
        width: -moz-calc(90% + 60px) !important;
        /* WebKit */
        width: -webkit-calc(90% + 60px) !important;
        /* Opera */
        width: -o-calc(90% + 60px) !important;
        /* Standard */
        width: calc(90% + 60px) !important;
    }
    .ss-placeholder-child {
        background: transparent;
        border: 1px dashed gray;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .shapeshift-container {
        > div[data-ss-colspan='2'] {
            /* Firefox */
            width: -moz-calc(90% + 30px) !important;
            /* WebKit */
            width: -webkit-calc(90% + 30px) !important;
            /* Opera */
            width: -o-calc(90% + 30px) !important;
            /* Standard */
            width: calc(90% + 30px) !important;
        }
        > div[data-ss-colspan='1'] {
            width: 45% !important;
        }
    }
}

@media (max-width: 480px) {
    .shapeshift-container {
        > div[data-ss-colspan='2'],
        > div[data-ss-colspan='1'] {
            width: 90% !important;
        }
    }
}
