ul.side-steps {
    list-style-type: none;
    margin-bottom: 0;
    li.panel {
        margin-bottom: 0;
        // background-color: transparent;
        border: none;
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        .menu-item {
            cursor: default;
            padding: 10px 10px;
           
            .menu-name {
                display: inline-block;
                vertical-align: middle;
                &.active {
                    color: $navy;
                    font-weight: bold;
                    cursor: pointer;
                }
                &.pass {
                    font-weight: light;
                    cursor: pointer;
                }
            }
            i.glyphicon {
                display: inline-block;
                padding: 0px 5px;
                font-size: $fs27;
            }
            i.glyphicon-ok-sign {
                color: $navy;
            }
            i.glyphicon-remove-sign {
                color: $red;
            }
        }
    }
}

.sidebar-active {
    .side-menu > ul {
        left: 0px !important
    }
}
