.irs-single{
	background: #1ab394;
}

.irs-single::after{
	border-top-color: #1ab394;
}

.irs-from{
	background: #1ab394;
}

.irs-from::after{
	border-top-color: #1ab394;
}

.irs-to{
	background: #1ab394;
}

.irs-to::after{
	border-top-color: #1ab394;
}  