//note: refer to _variable.scss to change the color or font size
.success-fail {
    .cross-sign {
        font-size: $fs16;
        color: $crosssign;
        margin-right: 15px;
        margin-top: 25px;
    }
    .header {
        text-align: center;
        padding: 50px;
        height: 60px;
    }
    .button {
        margin: 10px;
        padding: 10px;
    }
    .icon-label {
        padding: 50px 70px 70px 70px;
    }
    .ignore-border {
        border: none;
    }
    .title-success {
        color: $successfontcolor;
    }
    .title-fail {
        color: $failfontcolor;
    }
    .title-warning {
        color: $warningfontcolor;
    }
}
