.disabled {
    span {
        cursor: not-allowed;
        background-color: $disabled-color !important;
        border-color: $disabled-color !important;
        box-shadow: $disabled-color 0px 0px 0px 16px inset !important;
    }
    span:before {
        background-color: $disabled-color !important;
    }
    &.onoffswitch-label,
    &.onoffswitch-label > span {
        border-color: $disabled-color;
        box-shadow: $disabled-color 0px 0px 0px 16px inset !important;
    }
    &.switchery.switchery-default,
    .switchery>small {
        background-color: $disabled-color !important;
    }
}
