body {
    &.skin-marine {
        background-color: $marine-primary-color-1;
        .pace .pace-progress {
            background: $marine-primary-color-1;
        }
        .navbar-default {
            background-color: $marine-primary-color-1;
            .sidebar-collapse {
                li {
                    &.active {
                        border-left: 4px solid $theme-secondary-color1;
                        background: $marine-primary-color-4;
                    }
                    &.nav-header {
                        background: none;
                    }
                }
            }
        }
        .nav.navbar-right > li > a {
            color: $marine-primary-color-2;
        }
        .nav.nav-second-level > li.active {
            border: none;
        }
        .navbar-default .nav > li > a:hover,
        .navbar-default .nav > li > a:focus {
            background-color: darken($marine-primary-color-2, 3%);
            color: white;
        }
        .btn-primary {
            background-color: $marine-primary-color-2;
            border-color: $marine-primary-color-2;
        }
        .ibox-title {
            border-top-color: $marine-primary-color-3;
        }
        .btn-primary:hover {
            background-color: $marine-primary-color-1;
            border-color: $marine-primary-color-1;
        }
        .btn-default {
            color: $marine-primary-color-3;
            border-color: $marine-primary-color-3;
        }
        .navtab-main {
            #tabContainer {
                .task-tab-cell {
                    &.active> span {
                        color: $marine-primary-color-2;
                    }
                }
            }
        }
        #multitabContainer>.multitask-tab>ul>li.active>div>a:first-child,
        .multitask-list .multitask-item .ico-multitab-close,
        .breadcrumbs .fontsize-backicon,
        .breadcrumbs .breadcrumb>li a,
        .acct-no-hyperlink,
        .attach-table-icon,
        .vertical-date small,
        .nav.navbar-right>li>a {
            color: $marine-primary-color-2;
        }
        #multitabContainer>.multitask-tab>div:first-child,
        .table.dataTable tbody tr.selected,
        .dropdownstep .dropdownstep-container .dropdownstep-container-dropdown .dropdown .dropdown-menu .dropdown-cell .dropdown-cell-effect:hover,
        .open-small-chat,
        .dropzone .dz-preview .refresh-btn,
        .dropzone .dz-preview .remove-btn,
        .legal-case-workspace .quick-nav-list ul li span {
            background: $marine-primary-color-2;
        }
        .dropzone .dz-preview .dz-progress .dz-upload {
            background: linear-gradient(to bottom, $marine-primary-color-2, $marine-primary-color-1);
        }
        .form-control:focus,
        .single-line:focus {
            border-color: $marine-primary-color-2 !important;
        }
        .nestedtree-product-label {
            color: $marine-primary-color-2;
        }
    }
    &.skin-cocoa {
        background-color: $cocoa-primary-color-1;
        .pace .pace-progress {
            background: $cocoa-primary-color-1;
        }
        .navbar-default {
            background-color: $cocoa-primary-color-1;
            .sidebar-collapse {
                li {
                    &.active {
                        border-left: 4px solid $theme-secondary-color1;
                        background: $cocoa-primary-color-4;
                    }
                    &.nav-header {
                        background: none;
                    }
                }
            }
        }
        .nav.navbar-right > li > a {
            color: $cocoa-primary-color-2;
        }
        .nav.nav-second-level > li.active {
            border: none;
        }
        .navbar-default .nav > li > a:hover,
        .navbar-default .nav > li > a:focus {
            background-color: darken($cocoa-primary-color-2, 3%);
            color: white;
        }
        .btn-primary {
            background-color: $cocoa-primary-color-2;
            border-color: $cocoa-primary-color-2;
        }
        .ibox-title {
            border-top-color: $cocoa-primary-color-3;
        }
        .btn-primary:hover {
            background-color: $cocoa-primary-color-1;
            border-color: $cocoa-primary-color-1;
        }
        .btn-default {
            color: $cocoa-primary-color-3;
            border-color: $cocoa-primary-color-3;
        }
        .navtab-main {
            #tabContainer {
                .task-tab-cell {
                    &.active> span {
                        color: $cocoa-primary-color-2;
                    }
                }
            }
        }
        #multitabContainer>.multitask-tab>ul>li.active>div>a:first-child,
        .multitask-list .multitask-item .ico-multitab-close,
        .breadcrumbs .fontsize-backicon,
        .breadcrumbs .breadcrumb>li a,
        .acct-no-hyperlink,
        .attach-table-icon,
        .vertical-date small,
        .nav.navbar-right>li>a {
            color: $cocoa-primary-color-2;
        }
        #multitabContainer>.multitask-tab>div:first-child,
        .table.dataTable tbody tr.selected,
        .dropdownstep .dropdownstep-container .dropdownstep-container-dropdown .dropdown .dropdown-menu .dropdown-cell .dropdown-cell-effect:hover,
        .open-small-chat,
        .dropzone .dz-preview .refresh-btn,
        .dropzone .dz-preview .remove-btn,
        .legal-case-workspace .quick-nav-list ul li span {
            background: $cocoa-primary-color-2;
        }
        .dropzone .dz-preview .dz-progress .dz-upload {
            background: linear-gradient(to bottom, $cocoa-primary-color-2, $cocoa-primary-color-1);
        }
        .form-control:focus,
        .single-line:focus {
            border-color: $cocoa-primary-color-2 !important;
        }
        .nestedtree-product-label {
            color: $cocoa-primary-color-2;
        }
    }
    &.skin-aqua {
        background-color: $aqua-primary-color-1;
        .pace .pace-progress {
            background: $aqua-primary-color-1;
        }
        .navbar-default {
            background-color: $aqua-primary-color-1;
            .sidebar-collapse {
                li {
                    &.active {
                        border-left: 4px solid $theme-secondary-color1;
                        background: $aqua-primary-color-4;
                    }
                    &.nav-header {
                        background: none;
                    }
                }
            }
        }
        .nav.navbar-right > li > a {
            color: $aqua-primary-color-2;
        }
        .nav.nav-second-level > li.active {
            border: none;
        }
        .navbar-default .nav > li > a:hover,
        .navbar-default .nav > li > a:focus {
            background-color: darken($aqua-primary-color-2, 3%);
            color: white;
        }
        .btn-primary {
            background-color: $aqua-primary-color-2;
            border-color: $aqua-primary-color-2;
        }
        .ibox-title {
            border-top-color: $aqua-primary-color-3;
        }
        .btn-primary:hover {
            background-color: $aqua-primary-color-1;
            border-color: $aqua-primary-color-1;
        }
        .btn-default {
            color: $aqua-primary-color-3;
            border-color: $aqua-primary-color-3;
        }
        .navtab-main {
            #tabContainer {
                .task-tab-cell {
                    &.active> span {
                        color: $aqua-primary-color-2;
                    }
                }
            }
        }
        #multitabContainer>.multitask-tab>ul>li.active>div>a:first-child,
        .multitask-list .multitask-item .ico-multitab-close,
        .breadcrumbs .fontsize-backicon,
        .breadcrumbs .breadcrumb>li a,
        .acct-no-hyperlink,
        .attach-table-icon,
        .vertical-date small,
        .nav.navbar-right>li>a {
            color: $aqua-primary-color-2;
        }
        #multitabContainer>.multitask-tab>div:first-child,
        .table.dataTable tbody tr.selected,
        .dropdownstep .dropdownstep-container .dropdownstep-container-dropdown .dropdown .dropdown-menu .dropdown-cell .dropdown-cell-effect:hover,
        .open-small-chat,
        .dropzone .dz-preview .refresh-btn,
        .dropzone .dz-preview .remove-btn,
        .legal-case-workspace .quick-nav-list ul li span {
            background: $aqua-primary-color-2;
        }
        .dropzone .dz-preview .dz-progress .dz-upload {
            background: linear-gradient(to bottom, $aqua-primary-color-2, $aqua-primary-color-1);
        }
        .form-control:focus,
        .single-line:focus {
            border-color: $aqua-primary-color-2 !important;
        }
        .nestedtree-product-label {
            color: $aqua-primary-color-2;
        }
    }
    &.skin-violet {
        background-color: $violet-primary-color-1;
        .pace .pace-progress {
            background: $violet-primary-color-1;
        }
        .navbar-default {
            background-color: $violet-primary-color-1;
            .sidebar-collapse {
                li {
                    &.active {
                        border-left: 4px solid $theme-secondary-color1;
                        background: $violet-primary-color-4;
                    }
                    &.nav-header {
                        background: none;
                    }
                }
            }
        }
        .nav.navbar-right > li > a {
            color: $violet-primary-color-2;
        }
        .nav.nav-second-level > li.active {
            border: none;
        }
        .navbar-default .nav > li > a:hover,
        .navbar-default .nav > li > a:focus {
            background-color: darken($violet-primary-color-2, 3%);
            color: white;
        }
        .btn-primary {
            background-color: $violet-primary-color-2;
            border-color: $violet-primary-color-2;
        }
        .ibox-title {
            border-top-color: $violet-primary-color-3;
        }
        .btn-primary:hover {
            background-color: $violet-primary-color-1;
            border-color: $violet-primary-color-1;
        }
        .btn-default {
            color: $violet-primary-color-3;
            border-color: $violet-primary-color-3;
        }
        .navtab-main {
            #tabContainer {
                .task-tab-cell {
                    &.active> span {
                        color: $violet-primary-color-2;
                    }
                }
            }
        }
        #multitabContainer>.multitask-tab>ul>li.active>div>a:first-child,
        .multitask-list .multitask-item .ico-multitab-close,
        .breadcrumbs .fontsize-backicon,
        .breadcrumbs .breadcrumb>li a,
        .acct-no-hyperlink,
        .attach-table-icon,
        .vertical-date small,
        .nav.navbar-right>li>a {
            color: $violet-primary-color-2;
        }
        #multitabContainer>.multitask-tab>div:first-child,
        .table.dataTable tbody tr.selected,
        .dropdownstep .dropdownstep-container .dropdownstep-container-dropdown .dropdown .dropdown-menu .dropdown-cell .dropdown-cell-effect:hover,
        .open-small-chat,
        .dropzone .dz-preview .refresh-btn,
        .dropzone .dz-preview .remove-btn,
        .legal-case-workspace .quick-nav-list ul li span {
            background: $violet-primary-color-2;
        }
        .dropzone .dz-preview .dz-progress .dz-upload {
            background: linear-gradient(to bottom, $violet-primary-color-2, $violet-primary-color-1);
        }
        .form-control:focus,
        .single-line:focus {
            border-color: $violet-primary-color-2 !important;
        }
        .nestedtree-product-label {
            color: $violet-primary-color-2;
        }
    }
}
