#vertical-timeline {
    position: relative;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

#vertical-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #f1f1f1;
}

.vertical-timeline-content {
    &.add-line {
        padding-right: 0;
        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .descr-div {
            padding-right: 1.6em;
        }
    }
    .btn-right {
        float: right !important;
    }
    .vertical-date {
        .col-xs-6 {
            padding-left: 0;
        }
    }
}
