.dropzone {
    border: 1px solid rgba(0, 0, 0, 0.03);
    min-height: 360px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.03);
    padding: 23px;
    position: relative;
    overflow-x: hidden;
    .dz-default.dz-message {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        background-image: url(../img/default_dropfiles.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        width: 525px;
        height: 102px;
        margin-left: -262.5px;
        margin-top: -51px;
        top: 50%;
        left: 50%;
        span {
            display: none;
        }
    }
    .dz-preview {
        background: rgba(255, 255, 255, 0.8);
        position: relative;
        display: inline-block;
        margin: 17px;
        vertical-align: top;
        border: 1px solid #acacac;
        padding: 6px 6px 6px 6px;
        -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
        font-size: 14px;
        .dz-details {
            width: 100px;
            height: 100px;
            position: relative;
            background: #ebebeb;
            padding: 5px;
            margin-bottom: 22px;
            .dz-filename {
                overflow: hidden;
                height: 100%;
            }
            .dz-size {
                position: absolute;
                bottom: -28px;
                left: 3px;
                height: 28px;
                line-height: 28px;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100px;
                height: 100px;
            }
        }
        .dz-progress {
            opacity: 1;
            z-index: 1000;
            pointer-events: none;
            position: absolute;
            height: 16px;
            left: 50%;
            top: 50%;
            margin-top: -8px;
            width: 80px;
            margin-left: -40px;
            background: rgba(255, 255, 255, 0.9);
            -webkit-transform: scale(1);
            border-radius: 8px;
            overflow: hidden;
            .dz-upload {
                background: #333;
                background: linear-gradient(to bottom, #666, #444);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 0;
                -webkit-transition: width 300ms ease-in-out;
                -moz-transition: width 300ms ease-in-out;
                -ms-transition: width 300ms ease-in-out;
                -o-transition: width 300ms ease-in-out;
                transition: width 300ms ease-in-out;
                -webkit-transition: opacity 0.4s ease-in-out;
                -moz-transition: opacity 0.4s ease-in-out;
                -o-transition: opacity 0.4s ease-in-out;
                -ms-transition: opacity 0.4s ease-in-out;
                transition: opacity 0.4s ease-in-out;
            }
        }
        .ico-success {
            color: #1ab394;
        }
        .ico-failed {
            color: red;
        }
        .ico-failed,
        .ico-success {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            -webkit-transition: opacity 0.4s ease-in-out;
            -moz-transition: opacity 0.4s ease-in-out;
            -o-transition: opacity 0.4s ease-in-out;
            -ms-transition: opacity 0.4s ease-in-out;
            transition: opacity 0.4s ease-in-out;
            width: 40px;
            height: 40px;
            pointer-events: none;
            opacity: 0;
            z-index: 500;
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            margin-left: -20px;
            margin-top: -20px;
            font-size: 2.8em;
        }
        .dz-error-message {
            position: absolute;
            color: red;
            top: 138px;
        }
        .refresh-btn,
        .remove-btn {
            border-radius: 50%;
            background-color: #1ab394;
            width: 30px;
            height: 30px;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            -webkit-transition: opacity 0.4s ease-in-out;
            -moz-transition: opacity 0.4s ease-in-out;
            -o-transition: opacity 0.4s ease-in-out;
            -ms-transition: opacity 0.4s ease-in-out;
            transition: opacity 0.4s ease-in-out;
            text-align: center;
            font-size: 1.5em;
            color: white;
        }
        .refresh-btn {
            position: absolute;
            top: -15px;
            left: -15px;
        }
        .remove-btn {
            position: absolute;
            top: -15px;
            left: 99px;
        }
    }
    .dz-preview.dz-image-preview:hover {
        .dz-details img {
            display: block;
            opacity: 0.1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
            filter: alpha(opacity=10);
        }
    }
    .dz-preview.dz-file-preview [data-dz-thumbnail] {
        display: none;
    }
    .button-wrapper {
        width: 135px;
        text-align: center;
        .btn {
            width: 100%;
            margin-bottom: 10px;
        }
        .btn[disabled] {
            background-color: #d7d7d7;
            border-color: #d7d7d7;
            opacity: 1;
        }
    }
    .note {
        position: absolute;
        bottom: 5px;
        right: 10px;
    }
}

.dropzone.dz-clickable * {
    cursor: default;
}

.ca-applicant-detail {
    .value {
        float: right;
    }
}

.dropzone.dz-started {
    .dz-message {
        display: block;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

.alt-file-upload {
    padding: 20px;
    .custom-file-upload {
        cursor: pointer;
        background-image: linear-gradient(#1ab394, #1ab394);
        color: white;
    }
    .note {
        text-align: right;
        padding: 20px 0px;
    }
}
