.form-group {
    input.input-error {
        border: 1px solid #cc5965;
    }
    textarea.input-error {
        border: 1px solid #cc5965;
    }
    button.input-error {
        border: 1px solid #cc5965 !important;
        color: #cc5965 !important;
    }
    label.input-error-message {
        color: #cc5965;
        display: inline-block;
        margin-left: 5px;
    }
    .required::after{
        content: "*";
    }
}
