//Font-size: base font size is 13px, refer to http://pxtoem.com/
$fs8: 0.615em;
$fs9: 0.692em;
$fs10: 0.769em;
$fs11: 0.846em;
$fs12: 0.923em;
$fs13: 1.00em;
$fs14: 1.077em;
$fs15: 1.154em;
$fs16: 1.231em;
$fs17: 1.308em;
$fs18: 1.385em;
$fs19: 1.462em;
$fs20: 1.538em;
$fs21: 1.615em;
$fs22: 1.692em;
$fs23: 1.769em;
$fs24: 1.846em;
$fs25: 1.923em;
$fs27: 2.077em;
$fs28: 2.154em;
$fs29: 2.231em;
$fs30: 2.308em;
$fs31: 2.385em;
$fs33: 2.538em;
$fs37: 2.846em;
$fs42: 3.231em;
$fs47: 3.615em;
$fs50: 3.846em;
$fs64: 4.923em;
$fs67: 5.154em;
$fs70: 5.385em;
$fs100: 7.692em;
//end font style 
// Basic Colors
$navy: #1ab394; // Primary color
$dark-gray: #c2c2c2; // Default color
$blue: #1c84c6; // Success color
$lazur: #23c6c8; // Info color
$yellow: #f8ac59; // Warrning color
$red: #ED5565; // Danger color
// Various colors
$text-color: #676a6c; // Body text
$gray: #f3f3f4; // Background wrapper color
$light-gray: #D1DADE; // Default label, badget
$light-gray-2: #DBDADA;
$light-gray-3: #eaeaea;
$label-badget-color: #5E5E5E;
$light-blue:#f3f6fb;
$disabled-color:#e9e7e3;
// Spiner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;
// IBOX colors ( default panel colors)
$border-color: #e7eaec; // IBox border
$ibox-title-bg:#ffffff; // IBox Background header
$ibox-content-bg:#ffffff; // IBox Background content
//Sidebar width
$sidebar-width: 220px;
// Boxed layout width
$boxed-width: 1200px;
$boxed-backgound: url('../img/shattered.png');
//Border radius for buttons
$btn-border-radius: 3px;
//Navigation
$nav-bg: #2F4050;
$nav-profil-pattern: url("../img/header-profile.png");
$nav-text-color: #a7b1c2;
//Navigation tab
$navtab-darknavy: #262e3c;
$navtab-white: #ffffff;
$navtab-lightgray: #f7f7f7;
$black: #000000;
//Custom Table
$icon-lightgray: #828284;
$td-lightgray: #f9f9f9;
$td-white: #ffffff;
//Start No Result----/add by Kamil
$noresultfont: #717274;
$crosssign:#ffffff;
//End No Result
//Start Success Fail Warning----/add by Kamil
$successfontcolor:#1ab394;
$failfontcolor:#ED5565;
$warningfontcolor:#fea700;
//End Success Fail Warning
//Custom-height
$custom-height: 46px;
//Main Page top index button.
$main-page-button-size: 1.375em;
//dropdown-menu
$dropdown-menu-color: #262626;
$dropdown-menu-bg-color: #f5f5f5;


/**
primary-color-1 : for side menu background / progress bar color 
primary-color-2 : for all buttons / links/ highlighted text (example: amount)
primary-color-3 : thick line above each container / sales target chart color
**/

//Theme default
$theme-secondary-color1: #22e5c7;
$theme-secondary-color2: #676a6c;


//Theme 1-Marine
$marine-primary-color-1: #2f427a;
$marine-primary-color-2: #6b85af;
$marine-primary-color-3: #8aaade;
$marine-primary-color-4: #212e54;


//Theme 2-Cocoa
$cocoa-primary-color-1: #3c342f;
$cocoa-primary-color-2: #64574e;
$cocoa-primary-color-3: #aa9887;
$cocoa-primary-color-4: #27221f;

//Theme 3-Aqua
$aqua-primary-color-1: #002d40;
$aqua-primary-color-2: #1aa6b7;
$aqua-primary-color-3: #6dcff6;
$aqua-primary-color-4: #001f2c;

//Theme 3-Violet
$violet-primary-color-1: #3e2a6d;
$violet-primary-color-2: #6861ab;
$violet-primary-color-3: #b6b0ec;
$violet-primary-color-4: #201d41;


