<tr class="notification-item-list" data-dojo-attach-point="notificationListItemNode">
    <td style="padding-top:15px;padding-bottom: 15px;padding-left:25px; border-bottom: 1px solid #D1D3D5;">
        <input type="checkbox" name="status" value="true" data-dojo-attach-point="checkboxInputNode">
    </td>
    <td class="clickable" style="padding-top:15px;padding-bottom: 15px;cursor:pointer; border-bottom: 1px solid #D1D3D5;" data-dojo-attach-point="senderNode"></td>
    <td class="clickable" style="padding-top:15px;padding-bottom: 15px;cursor:pointer; border-bottom: 1px solid #D1D3D5;" data-dojo-attach-point="subjectNode"></a></td>
    <td class="clickable" style="padding-top:15px;padding-bottom: 15px;padding-right: 25px;cursor:pointer;text-align: right; border-bottom: 1px solid #D1D3D5;" data-dojo-attach-point="dateNode"></td>
</tr>
