<li class="bordered-bottom col-xs-12 col-lg-12" data-dojo-attach-point="inboxMessagesItemNode" style="cursor:pointer;border-bottom:1px solid #e5e5e5;display: inline-block; padding: 5px 0px 10px 0px">
    <div style="">
        <div class="col-xs-2" style="padding-top: 15px;">
            <i class="ico-name" style="font-size: 24px;padding:5px;background-color: #DDDDDD;border-radius: 100%;"></i>
        </div>
        <div class="col-xs-10" style="">
            <span class="bold-word" style="font-size: 12px;" data-dojo-attach-point="senderNode"></span>
            <span class="" style="font-size: 90%;float:right;" data-dojo-attach-point="passedTimeNode"></span>
            <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;word-wrap: break-word;">
                <p style="font-size: 12px;" data-dojo-attach-point="subjectNode"></p>
            </div>
        </div>
    </div>
    <div style="">
        <div class="col-xs-2"></div>
        <div class="col-xs-10" style="font-size:85%;">
            <div>
                <span data-dojo-attach-point="dateNode"></span></div>
        </div>
    </div>
</li>
