<div id="modal-form" class="modal fade success-fail" aria-hidden="true">
    <div class="modal-dialog modal-md" data-dojo-attach-point="modalDialogNode">
        <div>
            <div class="modal-header ignore-border">
                <div class="modal-close-btn cross-sign" data-dojo-attach-point="closeLinkNode">
                    <span aria-hidden="true">
                        <i class="ico-close"></i>
                    </span>
                </div>
                <div data-dojo-attach-point="headerNode">
                    <img data-dojo-attach-point="iconNode">
                </div>
                <div class="widget-text-box text-center icon-label" data-dojo-attach-point="contentNode">
                    <h1 data-dojo-attach-point="titleNode"></h1>
                    <h4 class="media-heading" data-dojo-attach-point="descriptionNode"></h4>
                    <br/>
                    <div data-dojo-attach-point="extraNode"></div>
                    <div class="text-center button" data-dojo-attach-point="buttonNode"></div>
                </div>
            </div>
        </div>
    </div>
</div>
